*
    box-sizing: border-box
    -webkit-overflow-scrolling: touch

ul, li
    margin: 0
    padding: 0

h1, h2, h3, h4, p
    margin: 0

a
    color: #16211E
    text-decoration: none

textarea,
input
    outline: none
    border: none
    border-radius: 0
    color: #42514D
    box-shadow: none
    -webkit-appearance: none
    &::-webkit-input-placeholder
        color: #42514D

textarea
    resize: none
 
button
    outline: none
    border: none
    cursor: pointer

ul
    list-style-type: none

body
    width: 100%
    min-width: 320px
    background: #F5F5F5
    font-family: 'Lato', sans-serif
    font-size: 0
    color: #16211E
    font-weight: 400
    overflow-x: hidden
    margin: 0
    padding: 0
    -webkit-text-size-adjust: none

.slick-slide
    outline: none
    & *
        outline: none

.wrapper
    width: 100%
    height: 100%
    max-width: 1562px
    position: relative
    padding: 0 25px
    margin: 0 auto

.header
    width: 100%
    height: 137px
    background: transparent
    z-index: 5
    position: fixed
    left: 0
    top: 0
    padding: 31px 0
    transition: background .3s ease-out, box-shadow .3s ease-out, padding .3s ease-out
    &.active
        background: #fff
        box-shadow: 0 4px 31px rgba(201, 212, 191, .24)
        padding: 36px 0

.wrapper-header
    height: auto
    display: flex
    justify-content: space-between
    align-items: center

.header__left
    display: flex
    align-items: center

.header__logo
    width: 190px
    height: 58px
    background: url(../img/header__logo.svg) center no-repeat
    background-size: contain

.our_services
    cursor: pointer
    position: relative
    padding: 0 34px 8px 0
    margin: 0 0 0 89px
    &:before
        content: ""
        width: 2px
        height: 10px
        background: #16211E
        position: absolute
        right: 6px
        top: 12px
    &:after
        content: ""
        width: 15px
        height: 9px
        background: url(../img/our_services.svg) center no-repeat
        background-size: contain
        position: absolute
        right: 0
        top: 23px
        transition: right .3s ease-out, top .3s ease-out
    &:hover,
    &.active
        &:after
            top: 30px
        .our_services__text
            &:before
                height: 8px
                background: #16211E

.our_services__text
    font-size: 24px
    position: relative
    &:before
        content: ""
        width: 100%
        height: 4px
        background: #A5BF8B
        position: absolute
        left: 0
        bottom: -10px
        transition: height .3s ease-out, background .3s ease-out
    
.header__right
    display: flex
    flex-direction: column

.header__phone
    font-size: 22px
    font-weight: 600
    letter-spacing: 2px

.header__email
    font-size: 13px
    color: #42514D

.navs
    display: flex

.navs__nav
    font-size: 16px
    position: relative
    margin: 0 20px
    &:before
        content: ""
        width: 100%
        height: 2px
        background: #A5BF8B
        opacity: 0
        position: absolute
        left: 0
        bottom: -3px
        transition: opacity .3s ease-out
    &:hover,
    &.active
        &:before
            opacity: 1

.main_banner
    background: url(../img/main_banner.png) center -10px no-repeat #E2E9DB
    background-size: 1800px
    position: relative

.wrapper-main_banner
    display: flex
    justify-content: space-between
    position: static
    padding-top: 160px
    padding-bottom: 94px

.main_banner__h1
    max-width: 311px
    font-family: 'Jomolhari', serif
    font-size: 52px
    font-weight: 400
    line-height: 83px

.main_banner__right
    width: calc(100% - 599px)
    margin: 36px 0 0

.main_banner__title
    font-size: 28px
    margin: 0 0 32px

.main_banner__text
    max-width: 352px
    font-size: 16px
    color: #42514D
    line-height: 32px
    margin: 0 0 202px

.socials
    display: flex

.socials__el
    width: 30px
    height: 30px
    margin: 0 20px 0 0
    svg
        width: 100%
        height: 100%
    path
        fill: #A5BF8B
        transition: fill .3s ease-out
    &:last-child
        margin: 0
    &:hover
        path
            fill: #3D4733

.button
    width: 576px
    height: 124px
    display: flex
    justify-content: center
    align-items: center
    background: #A5BF8B
    font-size: 20px
    color: #fff
    font-weight: 700
    cursor: pointer
    transition: background .3s ease-out
    &:hover
        background: #3D4733

.button-main_banner
    position: absolute
    left: 0
    bottom: 0

.main_slider
    width: 100%
    height: 360px
    overflow: hidden
    position: relative

.main_slider__slide
    width: 100%
    height: 100%
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
    &.active
        .main_slider__back
            z-index: 1
            transform: scale(1.6)
        .main_slider__text
            opacity: 1
            z-index: 1
            transform: translateX(0)

.main_slider__back
    width: 100%
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
    transform: scale(2)
    transition: top .5s ease-out, transform .5s ease-out

.main_slider__text
    max-width: 468px
    font-size: 100px
    color: #fff
    font-weight: 700
    line-height: 100px
    text-transform: uppercase
    opacity: 0
    position: absolute
    left: 0
    right: -15%
    top: -17px
    margin: auto
    transform: translateX(-100px)
    transition: opacity .5s ease-out, transform .5s ease-out

.main_slider__button
    width: 256px
    height: 112px
    display: flex
    align-items: center
    background: #fff
    cursor: pointer
    z-index: 2
    position: absolute
    right: 0
    top: 0
    padding: 0 72px
    &:before
        content: ""
        width: 0
        height: 100%
        background: #3D4733
        position: absolute
        left: 0
        top: 0
        transition: width .3s ease-out
    span
        width: 100%
        font-size: 20px
        position: relative
        transition: filter .3s ease-out
        &:before
            content: ""
            width: 35px
            height: 2px
            background: #16211E
            position: absolute
            right: 13px
            top: 0
            bottom: 0
            margin: auto
        &:after
            content: ""
            width: 18px
            height: 22px
            background: url(../img/main_slider__button.svg) center no-repeat
            background-size: contain
            position: absolute
            right: 0
            top: 0
            bottom: 0
            margin: auto
            transition: right .3s ease-out
    &:hover
        &:before
            width: 100%
        span
            filter: invert(100%)
            &:after
                right: -30px
        
.main_utps
    margin: 106px 0 172px

.wrapper-main_utps
    display: flex
    justify-content: space-between

.main_utps__utp
    max-width: 232px

.main_utps__title
    font-family: 'Jomolhari', serif
    font-size: 32px
    font-weight: 400
    line-height: 38px
    word-break: break-word
    margin: 0 0 24px

.main_utps__text
    font-size: 16px
    color: #42514D
    line-height: 32px

.our
    background: url(../img/our.png) center -75px no-repeat
    background-size: 1800px auto
    overflow: hidden
    padding: 0 0 229px
    margin: 165px 0 0

.our__wrp
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 0 0 0 58%

.our_main
    width: 47%
    position: absolute
    left: 25px
    top: 0

.our_main__slide
    width: 100%
    cursor: pointer
    &:hover
        .our_main__hover
            transform: scale(1)

.our_main
    .our_main__image
        opacity: 0
        transform: scale(2)
        transition: opacity .5s ease-out, transform .5s ease-out
    .our_main__slide
        pointer-events: none
        &.slick-active
            pointer-events: auto
            .our_main__image
                opacity: 1
                transform: scale(1)

.our_main__wrp
    width: 100%
    height: 472px

.our_main__image
    width: 100%
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative

.our_main__hover
    width: 74%
    height: 67%
    background: url(../img/our_main__hover.svg) center no-repeat rgba(22, 33, 30, .76)
    background-size: 43px 49px
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
    transform: scale(0)
    transition: transform .3s ease-out

.our_main__bottom
    position: relative
    padding: 56px 0 0 28%

.our_main__title
    max-width: 60%
    font-size: 24px
    line-height: 34px
    margin: 0 0 22px

.our_main__text
    font-size: 16px
    color: #42514D

.our_main__date
    font-size: 12px
    color: #82928D
    line-height: 22px
    text-align: right
    position: absolute
    left: 13%
    top: 57px

.our__h2
    max-width: 230px
    font-family: 'Jomolhari', serif
    font-size: 62px
    font-weight: 400
    line-height: 74px
    margin: 0 0 92px

.our__navs
    width: 278px
    display: flex
    justify-content: space-between
    margin: 0 0 76px

.our__bot
    display: flex
    flex-direction: column
    align-items: flex-start

.our_second
    width: 960px
    display: flex
    position: relative
    margin: 0 0 52px

.our_second__slide
    width: 192px
    height: 132px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    margin: 0 48px 0 0

.our__link
    display: inline-block
    white-space: nowrap
    cursor: pointer
    position: relative
    padding: 0 69px 0 0
    &:before
        content: ""
        width: 18px
        height: 22px
        background: url(../img/main_slider__button.svg) center no-repeat
        background-size: contain
        position: absolute
        right: 27px
        top: 13px
        margin: auto
        transition: right .3s ease-out
    &:hover,
    &.active
        &:before
            right: 0
        span
            &:before
                height: 13px
                background: #16211E
    span
        display: block
        font-size: 32px
        position: relative
        padding: 0 0 13px
        &:before
            content: ""
            width: 100%
            height: 4px
            background: #A5BF8B
            position: absolute
            left: 0
            bottom: 0
            transition: height .3s ease-out, background .3s ease-out

.slider_arrow
    display: inline-block !important
    font-size: 20px
    cursor: pointer
    position: relative
    transition: color .3s ease-out
    &:before
        content: ""
        width: 42px
        height: 2px
        background: #16211E
        position: absolute
        top: 0
        bottom: 0
        margin: auto
    &:after
        content: ""
        width: 18px
        height: 22px
        background: url(../img/main_slider__button.svg) center no-repeat
        background-size: contain
        pointer-events: none
        position: absolute
        top: 0
        bottom: 0
        margin: auto
        transition: left .3s ease-out, right .3s ease-out
    &:hover
        color: #A5BF8B

.slider_arrow-prev
    padding: 0 0 0 73px
    &:before
        left: 14px
    &:after
        left: 0
        transform: rotate(180deg)
    &:hover
        &:after
            left: -21px

.slider_arrow-next
    padding: 0 73px 0 0
    &:before
        right: 14px
    &:after
        right: 0
    &:hover
        &:after
            right: -21px

.what
    background: #E2E9DB
    text-align: center
    padding: 116px 0 183px

.what__h2
    max-width: 170px
    background: url(../img/what__h2.png) center top no-repeat
    background-size: 147px
    font-family: 'Jomolhari', serif
    font-size: 62px
    font-weight: 400
    text-align: center
    line-height: 74px
    margin: 0 auto
    padding: 97px 0 0

.what__wrapper
    text-align: left
    margin: -37px 0 100px

.elem
    width: 36.5%
    display: inline-block
    vertical-align: top
    &:hover
        .elem__hover
            transform: scale(1)

.elem__top
    width: 100%
    height: 365px
    display: inline-block
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative
    margin: 0 0 34px

.elem__counter
    width: 94px
    height: 64px
    background: #E2E9DB
    font-family: 'Jomolhari', serif
    font-size: 18px
    color: #42514D
    line-height: 60px
    text-align: center
    position: absolute
    right: 0
    top: 0

.elem__title
    display: inline-block
    font-size: 24px
    position: relative
    padding: 0 37px 0 0
    &:before
        content: ""
        width: 18px
        height: 22px
        background: url(../img/main_slider__button.svg) center no-repeat
        background-size: contain
        position: absolute
        right: 0
        top: 6px

.elem__hover
    width: calc(100% - 70px)
    height: calc(100% - 70px)
    display: flex
    justify-content: center
    align-items: center
    background: rgba(22, 33, 30, .76)
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
    transform: scale(0)
    transition: transform .3s ease-out
    span
        font-family: 'Jomolhari', serif
        font-size: 32px
        color: #fff
        text-align: center
        position: relative
        &:before
            content: ""
            width: 40px
            height: 2px
            background: #fff
            position: absolute
            left: 0
            right: 0
            bottom: -10px
            margin: auto

.elem-large
    width: 55%
    margin: 160px 0 0 8.5%
    .elem__top
        height: 374px

.elem-medium
    width: 26%
    margin: -77px 0 0 10.5%
    .elem__top
        height: 392px

.elem-small
    width: 18%
    margin: 94px 0 0 8.5%
    .elem__top
        height: 336px

.elem-tiny
    width: 15.3%
    margin: 158px 0 0 8.5%
    .elem__top
        height: 152px
    .elem__hover
        span
            font-size: 24px
            &:before
                bottom: -6px

.what__link
    display: inline-block
    font-size: 32px
    text-align: center
    position: relative
    padding: 0 0 13px
    &:before
        content: ""
        width: 100%
        height: 4px
        background: #A5BF8B
        position: absolute
        left: 0
        bottom: 0
        transition: height .3s ease-out,background .3s ease-out
    &:hover
        &:before
            height: 8px
            background: #16211E

.team
    background: url(../img/team.jpg) center no-repeat #a4bf89
    background-size: 1800px auto
    overflow: hidden
    position: relative
    padding: 157px 0 175px

.wrapper-team
    position: static

.team__wrp
    display: flex

.team__h2
    max-width: 135px
    font-family: "Jomolhari",serif
    font-size: 62px
    color: #fff
    font-weight: 400
    line-height: 74px

.team__right
    max-width: 392px
    margin: 19px 0 0 145px

.team__text
    font-size: 16px
    color: #fff
    line-height: 32px
    margin: 0 0 48px

.our__link-team
    color: #fff
    &:before
        background: url(../img/main_slider__button-white.svg) center no-repeat
        background-size: contain
    span
        &:before
            background: #fff
    &:hover
        span
            &:before
                background: #fff

.team__image
    width: 55%
    max-width: 831px
    height: auto
    position: absolute
    right: 5.5%
    top: -87px

.create
    background: url(../img/creat.png) left -100px top -40px no-repeat
    background-size: auto 614px
    overflow: hidden
    padding: 228px 0 0
    margin: 0 0 176px

.wrapper-creat
    display: flex

.create__left
    width: 52%

.create__image
    width: 100%
    height: 381px
    background: url(../img/creat__image.jpg) center no-repeat
    background-size: cover
    margin: 0 0 63px

.create__bottom
    display: flex
    justify-content: center
    align-items: center

.create__or
    font-family: "Jomolhari",serif
    font-size: 22px
    color: #82928D
    margin: 0 28px

.create__right
    margin: 0 0 0 11%

.create__h2
    max-width: 352px
    font-family: "Jomolhari",serif
    font-size: 62px
    font-weight: 400
    line-height: 74px
    margin: 0 0 78px

.create__block
    display: flex

.create__img
    width: 72px
    height: 72px

.create__text
    max-width: 312px
    font-size: 16px
    color: #42514D
    line-height: 32px
    margin: 0 0 0 48px

.env
    overflow: hidden
    padding: 224px 0
    margin: -176px 0 0

.env__wrp
    margin: 0 0 0 8%

.env__block-env
    margin: 0 0 54px

.env__h2
    max-width: 430px
    font-family: "Jomolhari",serif
    font-size: 62px
    font-weight: 400
    line-height: 74px
    margin: 0 0 78px

.env__block
    display: flex

.env__img
    width: 72px
    height: 72px

.create__text-env
    max-width: 352px

.env__image
    width: 74%
    max-width: 1075px
    pointer-events: none
    position: absolute
    right: -6%
    top: -240px

.links
    padding: 13px 0 0

.what__h2-links
    max-width: inherit
    margin: 0 0 86px

.links__slider
    margin: 0 0 128px

.links__slide
    width: 320px
    height: 110px
    display: flex !important
    justify-content: center
    align-items: center
    position: relative
    &:before
        content: ""
        width: 1px
        height: 100%
        background: #B9C4AE
        position: absolute
        left: -1px
        top: 0

.links__img
    width: 100%
    max-width: 144px

.links__navs
    width: 278px
    display: flex
    justify-content: space-between
    margin: 0 auto

.customers
    overflow: hidden
    padding: 183px 0 210px

.customers__wrp
    max-width: 559px
    padding: 34px 0 0
    margin: 0 0 0 53%

.customers__slider
    margin: 0 0 59px

.customers__h3
    max-width: 391px
    font-family: "Jomolhari",serif
    font-size: 62px
    font-weight: 400
    line-height: 74px
    margin: 0 0 62px

.customers__wp
    display: flex
    justify-content: space-between
    margin: 0 0 29px

.customers__name
    font-size: 24px
    margin: 0 0 20px

.rating
    height: 20px
    display: flex

.rating__star
    width: 20px
    height: 100%
    background: url(../img/rating__star.svg) center no-repeat
    background-size: contain
    cursor: pointer
    margin: 0 9px 0 0
    transition: background .3s ease-out
    &:last-child
        margin: 0
    &.active
        background: url(../img/rating__star-active.svg) center no-repeat
        background-size: contain

.customers__date
    font-size: 12px
    color: #82928D
    margin: 12px 0 0

.customers__text
    font-size: 16px
    color: #42514D
    line-height: 32px

.customers__bot
    display: flex
    justify-content: space-between
    align-items: center

.customers__navs
    width: 278px
    display: flex
    justify-content: space-between

.customers__image
    width: 46%
    max-width: 692px
    position: absolute
    left: 25px
    top: 0

.faq
    background: url(../img/faq.png) left 175px no-repeat #E2E9DB
    background-size: auto 1012px
    padding: 147px 0 165px

.wrapper-faq
    display: flex
    flex-direction: column
    align-items: center

.what__h2-faq
    margin: 0 auto 72px

.faq__wrp
    max-width: 872px
    margin: 0 auto 67px

.faq__el
    border-bottom: 1px solid #82928D
    padding: 0 0 29px
    margin: 0 0 20px
    &:last-child
        border: none
        margin: 0
    &.active
        .faq__title
            &:after
                opacity: 0
        .faq__content
            height: auto
            padding: 63px 50px 57px 164px
            margin: 38px 0 0
            transform: scale(1)

.faq__title
    font-size: 24px
    cursor: pointer
    position: relative
    padding: 0 40px 0 0
    &:before,
    &:after
        content: ""
        background: #16211E
        position: absolute
    &:before
        width: 17px
        height: 3px
        right: 4px
        top: 13px
    &:after
        width: 3px
        height: 17px
        right: 11px
        top: 6px
        transition: opacity .3s ease-out

.faq__content
    height: 0
    background: url(../img/faq__content.png) 52px 63px no-repeat #F5F5F5
    background-size: 72px
    font-size: 16px
    color: #82928D
    line-height: 32px
    position: relative
    padding: 0 50px 0 164px
    transform: scale(0)
    transition: height .3s, padding .3s, margin .3s, transform .3s
    &:before
        content: ""
        width: 0
        height: 0
        border-left: 13px solid transparent
        border-right: 13px solid transparent
        border-bottom: 15px solid #F5F5F5
        position: absolute
        left: 75px
        top: -15px

.latest
    background: url(../img/latest.png) center top no-repeat #F5F5F5
    background-size: 1800px auto
    overflow: hidden
    padding: 198px 0 180px

.wrapper-latest
    display: flex
    justify-content: space-between

.latest__left
    width: 48%
    display: flex
    flex-direction: column
    justify-content: space-between

.latest__h2
    max-width: 340px
    font-family: "Jomolhari", serif
    font-size: 62px
    font-weight: 400
    line-height: 74px
    margin: 0 0 100px

.latest__right
    width: 52%
    margin: 8px 0 0

.latest_slider
    width: 100%
    margin: 0 0 88px

.latest_slider__slide
    display: block

.latest_slider__image
    width: 100%
    height: 432px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    margin: 0 0 32px

.latest_slider__date
    font-size: 12px
    color: #82928D
    margin: 0 0 11px

.latest_slider__title
    font-size: 24px

.latest_slider__left
    .latest_slider__slide
        margin: 0 64px 0 0
        .latest_slider__image
            height: 192px

.latest__nav
    width: 278px
    display: flex
    justify-content: space-between
    margin: 0 0 13px

.footer
    background: #E2E9DB
    overflow: hidden
    padding: 77px 0 160px

.wrapper-footer
    display: flex
    justify-content: space-between
    position: static

.footer__left
    display: flex
    flex-wrap: wrap

.footer__col
    margin: 0 103px 0 0
    &:last-child
        margin: 0

.footer__title
    font-size: 24px
    margin: 0 0 43px

.navs-footer
    display: flex
    flex-direction: column
    align-items: flex-start
    .navs__nav
        margin: 0 0 13px
        &:last-child
            margin: 0

.footer__copy
    width: 100%
    font-size: 12px
    color: #82928D
    line-height: 22px
    margin: 81px 0 0

.footer__right
    width: 59%
    display: flex
    justify-content: space-between
    position: relative

.footer__contacts
    display: flex
    flex-direction: column

.footer__phone
    font-size: 24px
    margin: 8px 0 14px

.footer__email
    font-size: 16px
    color: #42514D
    margin: 0 0 44px

.footer__form
    width: 100%
    max-width: 488px

.form
    margin: 47px 0 0

.form__input
    textarea,
    input
        width: 100%
        height: 36px
        background: transparent
        border-bottom: 3px solid #16211E
        font-size: 16px
        color: #42514D
        padding: 0 0 14px
        margin: 0 0 18px
        transition: border .3s ease-out, padding .3s ease-out
        &:focus
            border-bottom: 10px solid #16211E
            padding: 0 0 7px
    textarea
        margin: 25px 0 0

.checkbox
    position: relative
    margin: 41px 0 0
    label
        display: inline-block
        font-size: 12px
        color: #82928D
        cursor: pointer
        padding: 9px 0 0 40px
        a
            color: #16211E
            text-decoration: underline
        &:before
            content: ''
            width: 18px
            height: 18px
            border: 3px solid #16211E
            cursor: pointer
            position: absolute
            left: 0
            top: 5px
    input[type=checkbox]
        display: none
        &:checked + label:before
            width: 12px
            height: 12px
            background: #A5BF8B
            border: 6px solid #16211E

.button-footer
    width: 500%
    justify-content: flex-start
    position: absolute
    left: 0
    bottom: -160px
    padding: 0 0 0 140px

.overlay,
.modal
    opacity: 0
    pointer-events: none
    overflow: auto
    z-index: 6
    position: fixed
    left: 0
    top: 0
    margin: auto
    transition: opacity .3s ease-out
    &.active
        opacity: 1
        pointer-events: auto

.overlay
    width: 100%
    height: 100%
    background: rgba(53, 64, 60, .9)

.modal
    max-width: 90%
    max-height: 90%
    box-shadow: 0 4px 220px #232F2A
    right: 0
    bottom: 0

.modal__close
    width: 51px
    height: 51px
    background: url(../img/modal__close.svg) center no-repeat
    background-size: contain
    cursor: pointer
    overflow: hidden
    z-index: 1
    position: absolute
    right: 54px
    top: 48px
    &:before,
    &:after
        content: ""
        width: 100%
        height: 2px
        background: #16211E
        position: absolute
        margin: auto
        transform: rotate(-45deg)
        transition: width .3s ease-out
    &:before
        left: -100%
        right: 0
        top: 0
        bottom: -100%
    &:after
        left: 0
        right: -100%
        top: -100%
        bottom: 0
    &:hover
        &:before,
        &:after
            width: 200%

.modal_services
    width: 1512px
    height: 716px
    display: flex
    background: #E2E9DB
    overflow: hidden

.modal_services__left
    width: 47%
    display: flex
    justify-content: center
    align-items: center

.modal_services__right
    width: 53%

.modal_navs
    display: flex
    flex-direction: column
    align-items: flex-start

.modal_navs__nav
    font-size: 36px
    cursor: pointer
    position: relative
    margin: 0 0 34px
    transition: color .3s ease-out
    &:last-child
        margin: 0
    &:before
        content: ""
        width: 100%
        height: 4px
        background: #A5BF8B
        opacity: 0
        position: absolute
        left: 0
        bottom: -11px
        transition: opacity .3s ease-out
    &:hover,
    &.active
        color: #A5BF8B
        &:before
            opacity: 1

.button-modal_services
    width: 100%

.modal_services__top
    height: calc(100% - 124px)
    position: relative
    &:after
        content: ""
        width: 100%
        max-width: 477px
        height: 100%
        background: url(../img/modal_services__top.png) center no-repeat
        background-size: contain
        pointer-events: none
        position: absolute
        right: 0
        bottom: 0

.modal_services__wrp
    width: 100%
    height: 0
    display: flex
    align-items: center
    background: #fff
    opacity: 0
    left: 0
    top: 0
    padding: 0 0 0 15.5%
    transform: translateX(100%)
    transition: transform .4s ease-out
    &:before
        content: ""
        width: 0
        height: 0
        border-top: 17px solid transparent
        border-right: 17px solid #fff
        border-bottom: 17px solid transparent
        position: absolute
        left: -17px
        top: 0
        bottom: 0
        margin: auto
    &.active
        height: 100%
        opacity: 1
        transform: translateX(0)

.modal_services__navs
    display: flex
    flex-direction: column
    align-items: flex-start

.modal_services__nav
    font-size: 16px
    position: relative
    margin: 0 0 13px
    &:last-child
        margin: 0

.to_top
    width: 63px
    height: 97px
    background: url(../img/to_top.svg) center no-repeat #16211E
    background-size: 33px auto
    border: 2px solid #16211E
    cursor: pointer
    opacity: 0
    pointer-events: none
    z-index: 4
    position: fixed
    right: 0
    bottom: 254px
    transition: opacity .3s ease-out, background .3s ease-out
    &:hover
        background: url(../img/to_top.svg) center no-repeat
    &.active
        opacity: 1
        pointer-events: auto

.our_services-modal_services,
.our_services-header_drop,
.modal__close-header_drop,
.button-header_drop,
.header_menu
    display: none

.animation
    opacity: 0
    transition: background .5s ease-out, transform .5s ease-out, transform .5s ease-out

.animation.animated
    opacity: 1
    transform: translateX(0)

.animation_right
    transform: translateX(100px)

.animation_left
    transform: translateX(-100px)

.animation_bot
    transform: translateY(100px)

.animation_top
    transform: translateY(-100px)

.about_top
    background: url(../img/about_top.png) center bottom no-repeat #E2E9DB
    background-size: 1800px auto
    overflow: hidden
    padding: 187px 0 201px

.wrapper-about_top
    display: flex

.about_top__left
    max-width: 370px
    margin: 19px 0 0

.about_top__our
    background: url(../img/about_top__our.svg) left top no-repeat
    background-size: 64px 45px
    font-size: 32px
    padding: 86px 0 0
    margin: 0 0 62px

.about_top__cur
    font-family: 'Jomolhari', serif
    font-size: 18px
    color: #42514D
    line-height: 180%
    margin: 0 0 125px

.about_date
    width: 238px
    background: url(../img/about_date.svg) left 22px no-repeat
    background-size: 100% auto
    text-align: center
    position: relative
    padding: 0 0 19px
    &:before
        content: ""
        width: 64px
        height: 4px
        background: #A5BF8B
        position: absolute
        left: 0 
        right: 0
        bottom: 0
        margin: 0 auto

.about_date__top
    font-size: 16px
    margin: 0 0 10px

.about_date__date
    font-size: 48px
    color: #42514D

.about_top__right
    max-width: 440px
    margin: 0 0 0 112px

.about_top__h2
    font-family: 'Jomolhari', serif
    font-size: 62px
    font-weight: 400
    line-height: 120%
    margin: 0 0 59px

.about_top__text
    font-size: 16px
    color: #42514D
    line-height: 200%
    margin: 0 0 32px
    &:last-child
        margin: 0

.why
    overflow: hidden
    position: relative
    padding: 0 0 277px

.wrapper-why
    position: static

.why__wrp
    display: flex
    flex-wrap: wrap
    .main_utps__utp
        margin: 0 88px 0 0
        &:last-child
            margin: 0
    .main_utps__title
        margin: 0 0 43px

.why__wrp-top
    margin: 188px 0 84px

.why__h2
    background: url(../img/why__h2.png) 43px -41px no-repeat
    background-size: 500px auto
    font-size: 146px
    font-weight: 400
    padding: 247px 0 0
    margin: -247px 0 0

.button-why
    width: 1016px
    position: absolute
    right: 0
    bottom: 0

.exp
    background: url(../img/exp.svg) right 119px no-repeat #E2E9DB
    background-size: 1800px auto
    overflow: hidden
    padding: 361px 0 144px

.wrapper-exp
    display: flex
    justify-content: flex-end

.exp__wrp
    display: flex
    flex-direction: column
    margin: 0 8% 0 0

.exp__image
    width: 72px
    height: 72px

.exp__h2
    max-width: 712px
    font-family: 'Jomolhari', serif
    font-size: 62px
    font-weight: 400
    line-height: 120%
    margin: 0 0 87px

.exp__el
    display: flex
    align-items: flex-start
    margin: 0 0 48px
    &:last-child
        margin: 0

.exp__right
    max-width: 232px
    padding: 10px 0 0
    margin: 0 0 0 52px

.exp__h3
    font-size: 32px
    font-weight: 400
    margin: 0 0 24px

.exp__text
    font-size: 16px
    color: #42514D
    line-height: 200%

.exp__img-1
    width: 680px
    height: 718px
    position: absolute
    left: -119px
    top: -101px

.exp__img-2
    width: 336px
    height: 346px
    position: absolute
    right: -119px
    bottom: 0

.our_ser
    background: url(../img/our_ser.svg) left bottom no-repeat #E2E9DB
    background-size: 779px auto
    overflow: hidden
    padding: 0 0 199px

.wrapper-our_ser
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.our_ser__h2
    max-width: 223px
    background: url(../img/what__h2.png) left top no-repeat
    background-size: 147px
    font-family: 'Jomolhari', serif
    font-size: 62px
    font-weight: 400
    line-height: 120%
    padding: 97px 0 0

.navs-our_ser
    display: flex
    flex-direction: column
    align-items: flex-start
    .navs__nav
        margin: 0 0 13px
        &:last-child
            margin: 0

.our_ser__col
    margin: 64px 0 0

.our_ser__col-last
    .footer__title
        display: block
        margin: 0 0 19px
        transition: color .5s ease-out
        &:hover
            color: #A5BF8B
        &:last-child
            margin: 0

.page__wrp
    overflow: hidden
    position: relative
    margin: 137px 0 0

.wrapper-page__wrp
    display: flex
    justify-content: space-between
    position: static

.page__content
    width: calc(100% - 510px)
    max-width: 991px

.page__h1
    background: url(../img/why__h2.png) 43px -41px no-repeat
    background-size: 500px auto
    font-family: "Jomolhari",serif
    font-size: 62px
    font-weight: 400
    line-height: 120%
    padding: 216px 0 0
    margin: 0 0 43px

.page__text
    max-width: 743px
    font-size: 16px
    color: #42514D
    line-height: 200%
    margin: 0 0 76px

.page__h2
    font-family: "Jomolhari",serif
    font-size: 62px
    font-weight: 400
    line-height: 120%
    margin: 0 0 63px

.page_filters
    display: flex
    margin: 0 0 62px

.page_filters__text
    font-size: 20px
    white-space: nowrap
    margin: 0 28px 0 0

.page_filters__wrp
    display: flex
    flex-wrap: wrap

.page_filters__button
    height: 32px
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid #D2DBC9
    border-radius: 9px
    font-size: 16px
    color: #42514D
    text-align: center
    cursor: pointer
    padding: 0 15px
    margin: 0 6px 6px 0
    transition: background .5s ease-out
    &:last-child
        margin: 0
    &:hover,
    &.active
        background: #E2E9DB

.page__els
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.our_main__slide-page
    width: calc((100% - 47px) / 2)
    margin: 0 0 56px
    .our_main__wrp
        height: 306px
    .our_main__bottom
        padding: 38px 0 0 25%
    .our_main__title
        max-width: 90%
        margin: 0 0 18px
    .our_main__date
        left: 7.5%
        top: 38px

.page__bot
    display: flex
    justify-content: center
    margin: 0 0 130px

.our__link-page
    padding: 0 56px 0 0
    margin: 5px 0 0
    &:before
        right: 0
        transform: rotate(90deg)
        transition: right .3s ease-out, top .3s ease-out
    &:hover
        &:before
            top: 20px

.page__wrp-main_page
    .page_menu
        margin: 123px 0 0

.page_menu
    width: 100%
    max-width: 415px
    background: #fff
    position: relative
    padding: 123px 16px 120px 105px
    &:before
        content: ""
        width: 500%
        height: 100%
        background: #fff
        position: absolute
        left: 100%
        top: 0

.page_menu__block
    margin: 0 0 205px

.page_menu__title
    font-size: 32px
    margin: 0 0 40px

.page_menu__texts
    display: flex
    flex-direction: column
    align-items: flex-start

.page_menu__text
    font-size: 16px
    color: #42514D
    position: relative
    margin: 0 0 13px
    &:last-child
        margin: 0
    &:before
        content: ""
        width: 100%
        height: 2px
        background: #A5BF8B
        opacity: 0
        position: absolute
        left: 0
        bottom: -3px
        transition: opacity .3s ease-out
    &:hover,
    &.active
        &:before
            opacity: 1

.main_slider__wrp
    min-height: 285px

.main_slider-page
    height: auto
    isibility: visible
    margin: 0 0 61px
    .main_slider__slide
        &.active
            .page_slider__bot
                opacity: 1
                transform: translateX(0)
    .main_slider__wp
        height: 192px
        position: relative
        overflow: hidden
        margin: 0 0 33px
    .main_slider__button
        width: 158px
        height: 58px
        padding: 0 35px
        &:hover
            span
                &:after
                    right: -15px
        span
            &:before
                width: 22px
                height: 1px
            &:after
                height: 16px
                top: 1px

.page_slider__bot
    opacity: 0
    transform: translateX(100%)
    transition: opacity .3s ease-out, transform .3s ease-out

.page_slider__data
    font-size: 12px
    color: #82928D
    margin: 0 0 11px

.page_slider__desc
    font-size: 24px

.button-page
    width: 896px
    position: absolute
    right: 0
    top: 360px

.page__h1-second
    background: url(../img/what__h2.png) left top no-repeat
    background-size: 147px
    padding: 97px 0 0

.page__text-second
    margin: 0 0 34px

.our__link-second
    margin: 0 0 89px

.portfolio__top
    display: flex
    margin: 0 0 31px

.page__h1-portfolio
    max-width: 400px

.portfolio__text
    width: 49%
    background: url(../img/about_top__our.svg) left top no-repeat
    background-size: 64px 45px
    font-size: 18px
    color: #42514D
    line-height: 180%
    padding: 68px 0 0
    margin: 46px 0 0 10.5%

.cats
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    margin: 0 0 104px

.cats__el
    width: 291px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    position: relative
    &:before
        content: ""
        width: 330px
        height: 330px
        border: 1px solid #A5BF8B
        border-radius: 100%
        opacity: 0
        position: absolute
        left: -22px
        top: 0
        margin: auto
        transition: opacity .3s ease-out
    &:hover
        &:before
            opacity: 1

.cats__image
    width: 100%
    height: 261px
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    margin: 0 0 10px

.cats__text
    font-size: 32px
    line-height: 38px
    text-align: center

.portfolio__wrp
    display: flex
    flex-wrap: wrap

.portfolio__wrp
    .our_main__slide
        width: calc((100% - 94px) / 3)
        margin: 0 47px 56px 0
        &:nth-child(3n)
            margin: 0 0 56px

.portfolio_second__top
    display: flex
    justify-content: space-between
    align-items: baseline
    margin: 0 0 50px
    .page__h1
        margin: 0

.main_utps__utp-mob
    display: none

.preloader
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    background: #E2E9DB
    opacity: 0
    pointer-events: none
    z-index: 11
    position: fixed
    left: 0
    top: 0
    transition: opacity .3s ease-out
    &.active
        opacity: 1
        pointer-events: auto
    img
        max-width: 200px

.page__h1-case_page 
    background: none
    position: relative
    padding: 68px 0 0

.case_page__ttl
    max-width: calc(100% - 110px)

.case_page__date
    font-size: 12px
    color: #82928D
    position: absolute
    right: 0
    top: 30%

.page_case__wrp
    width: 100%
    margin: 0 0 78px

.page_case__gallery
    width: 100%
    display: flex
    justify-content: space-between
    margin: 0 0 88px

.page_case__left
    width: 15%

.page_case__img
    width: 100%
    height: 125px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    cursor: pointer
    margin: 0 0 21px
    &:last-child
        margin: 0

.page_case__right
    width: 80%
    height: 562px
    .main_slider
        height: 100%
        cursor: pointer

.case_modal
    width: 1140px
    box-shadow: none
    overflow: visible

.case_modal__slide
    height: 100%

.case_modal__img
    width: 100%
    height: 740px
    max-height: 80%
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.case_modal
    .slider_arrow,
    .our_main__text,
    .our_main__date,
    .our_main__bottom
        color: #fff
    .our_main__title
        margin: 0 0 10px
    .our_main__bottom
        padding: 42px 0 0 18%
    .our_main__date
        left: 9%
        top: 42px
    .slider_arrow
        height: 24px
        z-index: 1
        position: absolute
        top: 0
        bottom: 0
        margin: auto
        &:before
            background: #fff
        &:after
            background: url(../img/main_slider__button-white.svg) center no-repeat
    .slider_arrow-prev
        left: -175px
    .slider_arrow-next
        right: -175px

.modal__close-case_modal
    background: url(../img/modal__close-case_modal.svg) center no-repeat
    right: -100px
    top: 0
    &:before,
    &:after
        background: #fff

.wrapper-testimonials
    margin: 0 auto 150px

.page__wrp-testimonials
    background: url(../img/page__wrp-testimonials.svg) right 100px no-repeat
    background-size: auto 725px

.testimonials__wrp
    width: 100%
    max-width: 1197px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 75px 0
    .customers__el
        width: calc((100% - 80px) / 2)
        margin: 0 0 60px

.page__bot-blog
    margin: 89px 0 150px

.blog__wrp
    display: flex
    flex-wrap: wrap
    .latest_slider__slide
        &:nth-child(1)
            width: 52.5%
        &:nth-child(2)
            width: 19.5%
            margin: 0 0 0 5.6%
            .latest_slider__image
                height: 192px
        &:nth-child(3)
            width: 19.5%
            margin: 60px 0 0 33%
            .latest_slider__image
                height: 192px
        &:nth-child(4)
            width: 34%
            margin: -180px 0 0 5.6%
            .latest_slider__image
                height: 323px
        &:nth-child(5)
            width: 19.5%
            margin: 68px 0 0 22%
            .latest_slider__image
                height: 192px
        &:nth-child(6)
            width: 52.5%
            margin: 68px 0 0 5.6%
        &:nth-child(7)
            width: 33.5%
            margin: -180px 0 0 8%
            .latest_slider__image
                height: 323px
        &:nth-child(8)
            width: 19.5%
            margin: 60px 0 0 5.6%
            .latest_slider__image
                height: 192px

.page__wrp-blog
    background: url(../img/page__wrp-testimonials.svg) right 1600px no-repeat
    background-size: auto 725px
    position: relative
    &:before
        content: ""
        width: 800px
        height: 800px
        background: url(../img/creat.png) center no-repeat
        background-size: contain
        pointer-events: none
        z-index: 0
        position: absolute
        left: -350px
        top: 850px

.article__top
    position: relative
    margin: 0 0 20px
    .page__h1
        max-width: calc(100% - 180px)
        margin: 0

.article_social
    display: flex
    align-items: center
    position: absolute
    right: 0
    bottom: 0

.article_social__text
    font-size: 16px
    margin: 0 23px 0 0

.article__date
    font-size: 12px
    color: #82928D
    margin: 0 0 30px

.article__image
    width: 100%
    height: 412px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    margin: 0 0 54px

.article__article
    h2
        font-size: 32px
        font-weight: 400
        line-height: 38px
        margin: 0 0 37px
    h3
        font-size: 24px
        font-weight: 400
        margin: 0 0 23px
    p
        font-size: 16px
        line-height: 200%
        margin: 0 0 18px
        a
            color: #0e8465
            text-decoration: underline
            transition: opacity .3s ease-out
            &:hover
                opacity: .7

.article__wrp
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    p
        width: calc((100% - 48px) / 2)

.article__quote
    background: url(../img/about_top__our.svg) left 48px no-repeat
    background-size: 64px 45px
    border-top: 1px solid #A5BF8B
    border-bottom: 1px solid #A5BF8B
    font-family: 'Jomolhari', serif
    font-size: 18px
    line-height: 180%
    padding: 34px 0 34px 120px
    margin: 60px 0

.article_block
    display: flex
    justify-content: space-between
    margin: 60px 0

.article_block__image
    width: 45%
    height: 255px
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.article_block__wrp
    width: 50%

.article_row
    margin: 60px 0

.article_video
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 60px 0
    .article_social
        width: 100%
        justify-content: flex-end
        position: static
        margin: 40px 0 0

.article_video__left
    width: 20%

.article_video__h3
    font-size: 32px !important
    line-height: 38px

.article_video__video
    width: 75%
    height: 420px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative
    &:before
        content: ""
        width: 79px
        height: 79px
        background: url(../img/article_video__video.svg) center no-repeat
        background-size: contain
        cursor: pointer
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto
        transition: opacity .3s ease-out
    &:hover
        &:before
            opacity: .7
    iframe
        max-width: 100%
        max-height: 100%

.our__link-article
    padding: 0 0 0 69px !important
    &:before
        left: 27px !important
        right: inherit !important
        transform: rotate(180deg)
        transition: left .3s ease-out
    &:hover
        &:before
            left: 0
            right: inherit

.env__top
    display: flex
    justify-content: space-between

.env__left
    max-width: 512px

.env__quote
    background: url(../img/about_top__our.svg) left top no-repeat
    background-size: 64px 45px
    font-family: 'Jomolhari', serif
    font-size: 18px
    color: #42514D
    line-height: 180%
    padding: 0 0 0 112px

.env__right
    width: calc(100% - 640px)
    margin: 163px 0 0

.env__title
    font-size: 32px
    line-height: 38px
    margin: 0 0 48px

.env__text
    font-size: 16px
    color: #42514D
    line-height: 200%

.env_banner
    height: 436px
    overflow: hidden
    position: relative
    margin: 105px 0 0
    .main_slider__text
        top: initial
        bottom: -11px

.env_block
    overflow: hidden
    padding: 124px 0 145px

.env_block__content
    width: 30%
    min-width: 450px

.env_block__h2
    font-size: 32px
    line-height: 38px
    margin: 0 0 36px

.env_block__text
    font-size: 16px
    color: #42514D
    line-height: 200%
    margin: 0 0 54px

.env_block__image
    width: 70%
    max-width: 1059px
    pointer-events: none
    position: absolute
    right: -7.5%
    top: -330px

.contacts__top
    display: flex
    justify-content: space-between
    margin: 0 0 64px

.contacts__left
    width: 25%

.socials-contacts
    margin: 62px 0 30px
    .socials__el
        width: 21px
        height: 21px
        margin: 0 15px 0 0

.contacts__text
    font-size: 16px
    color: #42514D
    line-height: 200%

.contacts__right
    width: 65%
    margin: 107px 0 0

.contacts__quote
    min-height: 45px
    background: url(../img/about_top__our.svg) left top no-repeat
    background-size: 64px 45px
    font-family: 'Jomolhari', serif
    font-size: 18px
    color: #42514D
    line-height: 180%
    padding: 0 0 0 120px
    margin: 0 0 62px

.contacts__row
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.contacts_el
    width: calc((100% - 100px) / 2)
    min-width: 350px
    display: flex
    margin: 0 0 50px

.contacts_el__img
    min-width: 72px
    height: 72px

.contacts_el__wrp
    margin: 10px 0 0 48px

.contacts_el__title
    font-size: 16px
    color: #42514D

.contacts_el__email
    display: inline-flex
    font-size: 20px
    margin: 23px 0 0

.contacts_el__phone
    display: inline-block
    font-size: 32px
    margin: 11px 0 0
    
.contacts_maps
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 0 0 137px

.contacts_maps__map
    width: calc((100% - 96px) / 3)
    iframe
        width: 100%
        height: 292px

.form_footer,
.form_accept
    display: none
    &.active
        display: block

.contacts_maps__title
    font-size: 20px
    margin: 0 0 23px

.form_accept__title
    max-width: 380px
    font-family: 'Jomolhari', serif
    font-size: 62px
    line-height: 120%
    margin: 0 0 30px

.form_accept__text
    font-size: 16px
    color: #42514D
    line-height: 200%

.modal_form
    width: 899px
    height: 700px
    background: url(../img/page__wrp-testimonials.svg) right 95px no-repeat #E2E9DB
    background-size: auto 522px
    padding: 60px 85px

.modal__title
    background: url(../img/what__h2.png) left top no-repeat
    background-size: 134px
    font-family: 'Jomolhari', serif
    font-size: 32px
    line-height: 120%
    padding: 90px 0 0

.form_modal
    max-width: 540px

.button-modal
    width: 545px
    max-width: 100%
    height: 124px
    position: absolute
    right: 0
    bottom: 0

.modal__wrp
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    margin: 30px 0 0
    .checkbox
        margin: 0

.input_file
    input
        display: none

.input_file__label
    display: inline-flex

.input_file__img
    width: 54px
    height: 54px
    background: url(../img/input_file__img.svg) center no-repeat
    background-size: contain

.our__link-input_file
    padding: 0 45px 0 0
    margin: 15px 0 0 16px
    &:before
        right: 0
        top: 8px
        transform: rotate(-90deg)
        transition: top .3s ease-out
    &:hover
        &:before
            top: 0
    span
        font-size: 20px

.modal_conf
    width: 899px
    height: 450px
    background: url(../img/page__wrp-testimonials.svg) right -100px no-repeat #E2E9DB

.modal__text
    font-size: 16px
    color: #42514D
    line-height: 200%
    margin: 32px 0 0

.button-modal_conf
    width: 545px
    max-width: 100%
    height: 124px
    position: absolute
    right: 0
    bottom: 0

.backgrpund_white
    background: #fff

@media (max-width: 1600px)
    .why__wrp
        .main_utps__utp
            margin: 0 88px 60px 0

@media (max-width: 1562px)
    .wrapper
        padding: 0 5.7%

    .our_main
        left: 5.7%

    .team__image
        right: -7.5%

    .what__link
        font-size: 28px

    .wrapper-why
        padding: 0

    .why__wrp
        padding: 0 5.7%

    .why__wrp-top
        .main_utps__utp
            display: none

    .wrapper-why
        padding: 0

    .why__h2
        width: 100%
        background: url(../img/why__h2.png) right 10% bottom no-repeat
        background-size: auto 100%
        padding: 150px 0 50px
        margin: -220px 0 0

    .why__wrp-bottom,
    .wrapper-main_utps
        display: block
        white-space: nowrap
        overflow-x: auto

    .main_utps__utp
        display: inline-block
        vertical-align: top
        white-space: normal
        margin: 0 64px 0 0
        &:last-child
            margin: 0

    .exp__img-1
        left: -20%

    .exp__img-2
        right: 0

    .our_main__slide-page
        .our_main__date
            left: 5%
        .our_main__wrp
            height: 250px

    .page_case__img
        height: 100px
        margin: 0 0 15px

    .page_case__right
        width: 80%
        height: 445px

    .main_banner__text
        margin: 0 0 130px

    .main_banner
        padding: 150px 0 90px

    .footer__form
        margin: 0 70px 0 0

    .page__h1-main_level
        font-size: 58px

    .navs__nav
        font-size: 14px
        margin: 0 14px

    .contacts__row
        flex-direction: column

@media (max-width: 1400px)
    .elem-small
        width: 25%

    .elem-tiny
        width: 20%
        margin: 158px 0 0 10%

    .team__image
        display: none

    .our_main__title
        max-width: 100%

    .modal__close-case_modal
        right: 0
        top: -75px

    .case_modal
        .slider_arrow
            font-size: 0
            &:before
                display: none
        .slider_arrow-prev
            left: -4%
        .slider_arrow-next
            right: -4%

    .exp__img-1
        left: -35%

    .our_main__slide-page
        width: 100%

    .portfolio__wrp
        .our_main__slide
            width: calc((100% - 47px) / 2)
            margin: 0 47px 56px 0
            &:nth-child(3n)
                margin: 0 47px 56px 0
            &:nth-child(2n)
                margin: 0 0 56px

    .page_case__img
        height: 80px

    .page_case__right
        height: 365px

    .header_menu
        width: 40px
        height: 15px
        display: flex
        flex-direction: column
        justify-content: space-between
        cursor: pointer
        margin: 0 90px 0 0
        &:before,
        &:after
            content: ""
            width: 100%
            height: 4px
            background: #30342C
            position: relative
            transition: background .3s ease-out
        &:hover
            &:before,
            &:after
                background: #A5BF8B

    .header_drop
        width: 100%
        height: 100%
        background: rgba(53, 64, 60, .9)
        pointer-events: none
        opacity: 0
        z-index: 6
        position: fixed
        left: 0
        top: 0
        transition: opacity .3s ease-out
        &.active
            pointer-events: auto
            opacity: 1
            .header_drop__wrp
                transform: translateX(0)
        &.hide
            .header_drop__wrp
                transform: translateX(-100%)

    .header_drop__wrp
        width: 520px
        max-width: 100%
        height: 593px
        max-height: 100%
        background: #E2E9DB
        box-shadow: 0 4px 220px #232F2A
        position: relative
        padding: 96px
        transform: translateX(-100%)
        transition: transform .3s ease-out
        .navs
            flex-direction: column
            align-items: flex-start
            .navs__nav
                margin: 0 0 20px
                &:last-child
                    margin: 0

    .button-header_drop
        width: 76%
        max-width: 394px
        height: 96px
        display: flex
        position: absolute
        left: 0
        bottom: 0
    
    .modal__close-header_drop
        width: 29px
        height: 29px
        display: block
        right: 48px
        top: 42px
        &:before,
        &:after
            height: 1px

    .article__wrp
        p
            width: 100%

    .article__image
        height: 365px
        margin: 0 0 40px

    .article_block__image
        width: 100%
        height: 250px
        margin: 0 0 20px

    .article_video,
    .article_row,
    .article_block,
    .article__quote
        margin: 40px 0

    .article_video,
    .article_block
        flex-direction: column
    
    .article_video__video,
    .article_video__left,
    .article_block__wrp
        width: 100%

    .article_video__video
        height: 250px

    .article_video
        h3
            margin: 0

    .form_accept__title
        font-size: 54px

@media (max-width: 1200px)
    .customers__bot
        flex-direction: column
        align-items: flex-start

    .customers__navs
        margin: 0 0 30px

    .footer__form
        margin: 0 50px 0 0

    .about_top
        background: #E2E9DB

    .wrapper-exp
        justify-content: flex-start

    .exp__img-1
        display: none

    .exp__img-2
        width: 30%
        height: auto
        right: 5.7%

    .our_ser__h2
        width: 100%
        max-width: 100%

    .why__wrp-top
        margin: 100px 0 0
        .main_utps__utp
            order: 1

    .blog__wrp
        justify-content: space-between
        .latest_slider__slide
            margin: 0 0 70px !important
            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(8)
                width: 60% !important
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(6),
            &:nth-child(6)
                width: 33% !important
        .latest_slider__image
            height: 300px !important

    .page__bot-blog
        margin: 20px 0 150px

    .env__top
        flex-direction: column

    .env__right
        width: 100%
        margin: 75px 0 0

    .env__title
        margin: 0 0 25px

    .env_block__image
        width: 60%
        top: -200px

    .env_banner
        height: 360px

    .main_banner
        padding: 150px 0

    .why__h2
        padding: 100px 0 0
        margin: -100px 0 80px

@media (max-width: 1024px)
    .our_services-header
        display: none

    .our_services-header_drop
        display: inline-block
        margin: 0 0 52px
        &:before
            transform: rotate(90deg)
        &:after
            right: -10px
            top: 13px
            transform: rotate(-90deg)
        &:hover
            &:after
                right: -20px
                top: 13px

    .modal_services
        width: 520px
        max-width: 100%
        height: 624px
        max-height: 100%
        opacity: 1
        pointer-events: auto
        right: inherit
        bottom: inherit
        transform: translateX(-200%)
        transition: transform .3s ease-out
        &.active
            transform: translateX(0)
        .modal__close
            width: 29px
            height: 29px
            display: block
            right: 48px
            top: 42px
            &:before,
            &:after
                height: 1px

    .modal_services__left
        width: 100%
        display: block
        padding: 96px

    .modal_services__right
        width: 0
    
    .button-modal_services
        width: 76%
        max-width: 394px
        height: 96px
        position: absolute
        left: 0
        bottom: 0

    .modal_navs__nav
        font-size: 18px
        margin: 0 0 20px
        &:last-child
            margin: 0

    .our_services-modal_services
        display: inline-block
        padding: 0 0 8px 34px
        margin: 0 0 48px
        &:last-child
            margin: 48px 0 0
        &:before
            left: 16px
            transform: rotate(90deg)
        &:after
            left: 0
            top: 12px
            transform: rotate(90deg)

    .header
        height: 95px
        padding: 0
        &.active
            padding: 0

    .wrapper-header
        height: 100%

    .header__email
        display: none

    .header__phone
        width: 32px
        height: 32px
        background: url(../img/header__phone.svg) center no-repeat
        background-size: contain
        font-size: 0

    .header__logo
        width: 125px
        height: 38px
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto

    .button
        height: 94px

    .button-main_banner
        width: calc(100% - 208px)

    .wrapper-main_banner
        align-items: center
        flex-direction: column
        text-align: center

    .main_banner__h1
        max-width: 520px
        font-size: 42px
        line-height: 67px

    .main_banner__title
        margin: 0 0 22px

    .main_banner__right
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        margin: 46px 0 0

    .main_banner__text
        max-width: 530px
        margin: 0 0 36px

    .main_slider
        height: 272px

    .page__wrp-main_page
        .page_menu
            margin: 94px 0 0

    .main_slider__text
        max-width: 370px
        font-size: 68px
        line-height: 68px
        left: 5.7%
        right: inherit
        top: -10px
        margin: 0

    .main_slider__button
        width: 208px
        height: 86px
        padding: 0 50px

    .main_utps
        margin: 59px 0 48px

    .our
        background: none
        padding: 0 0 62px
        margin: 59px 0 0

    .our__wrp
        align-items: center
        padding: 0

    .our__h2
        order: 1
        font-size: 54px
        line-height: 120%
        text-align: center
        margin: 0 0 70px

    .our_main
        width: 67%
        order: 2
        position: static
        margin: 0 0 60px

    .our__bot
        width: 100%
        order: 3
        align-items: center

    .our_main__wrp
        height: 312px

    .our_main__bottom
        padding: 40px 0 0 130px

    .our_main__title
        margin: 0 0 14px

    .our_main__date
        left: 40px
        top: 40px

    .our__navs
        margin: 0
        .slider_arrow
            font-size: 0
            position: absolute
            top: 360px
        .slider_arrow-prev
            left: 5.7%
        .slider_arrow-next
            right: 5.7%

    .our_second__wrp
        width: 100%
        position: relative
        padding: 194px 0 0

    .our_second   
        position: absolute
        left: 0
        top: 0

    .what
        padding: 59px 0 118px

    .what__h2
        font-size: 54px
        line-height: 120%

    .what__wrapper
        margin: 38px 0 68px

    .elem
        width: 100%

    .elem__top
        height: 234px
        margin: 0 0 21px

    .elem__title
        font-size: 18px
        padding: 0 30px 0 0
        &:before
            height: 18px
            top: 4px

    .elem-large
        width: 60%
        margin: 40px 0 0
        .elem__top
            height: 234px

    .elem-medium
        width: 33%
        margin: 40px 0 0 7%
        .elem__top
            height: 234px

    .elem-small
        width: 32%
        margin: 40px 0 0 22%
        .elem__top
            height: 234px

    .elem-tiny
        width: 25%
        margin: 40px 0 0 7%
        .elem__top
            height: 133px

    .our_main__hover,
    .elem__hover
        display: none

    .team
        background: url(../img/team.jpg) right bottom no-repeat #a4bf89
        background-size: 135% auto
        padding: 75px 0 465px

    .team__h2
        font-size: 54px
        line-height: 120%

    .team__right
        margin: 19px 0 0 57px

    .team__text
        margin: 0 0 40px

    .team__image
        width: 70%
        max-width: 531px
        max-height: 400px
        display: block
        left: 0
        right: 0
        top: inherit
        bottom: 44px
        margin: auto

    .create
        background: url(../img/creat.png) left -100px top no-repeat
        background-size: auto 550px
        padding: 50px 0 0
        margin: 0 0 75px

    .wrapper-creat
        flex-direction: column-reverse
        align-items: center

    .create__right
        margin: 0 0 40px

    .create__h2
        font-size: 54px
        line-height: 120%
        text-align: center
        margin: 0 auto 40px

    .create__left
        width: 100%

    .create__image
        height: 296px
        margin: 0 0 30px

    .env
        padding: 0
        margin: 86px 0

    .env__wrp
        display: flex
        flex-direction: column
        align-items: center
        z-index: 1
        position: relative
        margin: 0

    .env__h2
        font-size: 54px
        text-align: center
        line-height: 120%
        margin: 0 0 50px

    .env__block-env
        margin: 0 0 352px

    .create__text
        max-width: 352px

    .create__or
        margin: 0 15px

    .env__image
        width: 89%
        max-width: 680px
        left: 0
        right: 0
        top: 130px
        margin: auto

    .links
        padding: 0

    .wrapper-links
        padding: 0

    .what__h2-links
        margin: 0 0 58px

    .links__slider
        margin: 0 0 60px

    .customers
        padding: 90px 0 20px

    .wrapper-customers
        display: flex
        flex-direction: column-reverse
        align-items: center

    .customers__wrp
        max-width: 100%
        padding: 0
        margin: 0 0 45px

    .customers__image
        width: 65%
        max-width: 503px
        position: static
    
    .customers__h3
        max-width: 350px
        font-size: 54px
        line-height: 120%
        text-align: center
        margin: 0 auto 50px

    .customers__bot
        flex-direction: row
        align-items: center

    .customers__navs
        margin: 0

    .faq
        background: #E2E9DB
        padding: 64px 0 85px

    .what__h2-faq
        margin: 0 auto 30px

    .faq__wrp
        max-width: 681px
        margin: 0 auto 60px

    .faq__el
        &.active 
            .faq__content
                padding: 50px 61px 31px 145px

    .faq__content
        background: url(../img/faq__content.png) 40px 50px no-repeat #F5F5F5

    .latest
        background: url(../img/latest-tablet.svg) left -10px no-repeat #F5F5F5
        background-size: 768px auto
        padding: 60px 0 70px

    .wrapper-latest
        flex-direction: column

    .latest__left
        width: 100%

    .latest_slider__left
        display: none

    .latest__h2
        font-size: 54px
        text-align: center
        line-height: 120%
        margin: 0 auto 570px

    .latest_slider
        width: 88.6%
        position: absolute
        left: 5.7%
        top: 180px

    .latest_slider__image
        height: 370px

    .latest__nav
        margin: 0 auto

    .latest__right
        width: 100%
        display: flex
        justify-content: center
        margin: 50px 0 0

    .footer__form
        width: 480px
        max-width: 88.6%
        position: absolute
        right: 5.7%
        bottom: 0
        margin: 0

    .footer__right
        max-width: 241px
        position: static

    .footer__left
        width: calc(100% - 241px)
        max-width: 52%
        justify-content: space-between

    .footer__col
        margin: 0

    .wrapper-footer
        position: relative
        padding-bottom: 570px

    .button-footer
        position: static
        margin: 50px 0 0

    .footer__copy 
        width: 100%
        max-width: 480px
        position: absolute
        right: 5.7%
        bottom: -90px
        margin: 0

    .elem__counter
        width: 76px
        height: 56px
        line-height: 56px

    .about_top
        padding: 125px 0 100px

    .about_top__h2
        font-size: 54px

    .about_top__our
        padding: 75px 0 0
        margin: 0 0 50px

    .about_top__cur
        margin: 0 0 70px

    .why
        padding: 0 0 150px

    .why__wrp-top
        margin: 100px 0 0

    .why__wrp
        .main_utps__utp
            margin: 0 88px 40px 0

    .button-why
        width: 100%

    .exp
        background: #E2E9DB
        padding: 100px 0 150px

    .exp__img-2
        right: 5.7%

    .our_ser
        background: url(../img/our_ser.svg) left bottom no-repeat #E2E9DB
        background-size: auto

    .exp__h2
        font-size: 54px
        margin: 0 0 59px

    .our_ser__h2
        font-size: 54px

    .our_ser__col
        width: 45%

    .page__content
        width: calc(100% - 350px)

    .page_menu
        max-width: 300px
        padding: 50px 16px 0 75px

    .page__wrp-main_page
        .page_menu
            margin: 94px 0 0

    .button-page
        width: 100%
        top: 272px

    .page__h1
        font-size: 54px
        padding: 150px 0 0
        margin: 0 0 40px

    .page__text
        margin: 0 0 50px

    .page__h2
        font-size: 54px
        margin: 0 0 40px

    .main_slider-page
        .main_slider__wp
            margin: 0 0 24px

    .page_slider__data
        margin: 0 0 3px

    .page__wrp
        margin: 95px 0 0

    .page__h1-second
        padding: 97px 0 0

    .page__h1-case_page
        padding: 0

    .case_page__date
        position: static

    .case_modal
        height: 800px

    .case_modal__img
        height: 650px

    .env_banner
        height: 285px

    .env_block
        padding: 100px 0
    
    .env_block__image
        width: 60%
        top: -150px
        right: -15%

    .page__wrp-testimonials
        background: none

    .env__top
        align-items: center

    .page__h1-env
        background: url(../img/what__h2.png) center top no-repeat
        text-align: center

    .env__right
        text-align: center

    .why__h2
        background: url(../img/why__h2.png) right bottom no-repeat
        background-size: auto 100%

    .case_page__ttl
        max-width: 100%

    .testimonials__wrp
        margin: 75px 0 50px

@media (max-width: 768px)
    .page__content
        width: 100%

    .page_menu
        display: none

    .portfolio__wrp
        .our_main__slide
            width: 100%
            margin: 0 0 56px
            &:nth-child(3n)
                margin: 0 0 56px

    .portfolio_second__top
        flex-direction: column
        .page__h1
            margin: 0 0 25px

    .case_modal
        height: 600px

    .case_modal__img
        height: 450px

    .case_modal
        .our_main__bottom
            padding: 42px 0 0 120px
        .our_main__date
            left: 20px

    .page__wrp-testimonials
        background: none

    .wrapper-testimonials
        margin: 0 auto 100px

    .testimonials__wrp
        .customers__el
            width: 100%

    .blog__wrp
        .latest_slider__image
            height: 220px !important

    .page__wrp-blog
        background: none
        &:before
            display: none

    .env_block
        padding: 75px 0

    .env_block__content
        width: 100%
        min-width: 100%
        text-align: center

    .env_block__h2
        br
            display: none

    .env_block__text
        margin: 0 0 400px

    .env_block__image 
        width: 89%
        max-width: 680px
        left: 0
        right: 0
        top: 50px
        margin: auto

    .contacts__top
        flex-direction: column
        margin: 0 0 40px

    .contacts__left
        width: 100%
        display: flex
        flex-direction: column
        align-items: center

    .contacts__right
        width: 100%
        margin: 75px 0 0

    .page__h1-contacts
        background: url(../img/what__h2.png) center top no-repeat

    .socials-contacts
        margin: 0 0 20px

    .contacts__text
        max-width: 80%
        text-align: center
        margin: 0 auto

    .contacts_maps__map
        width: calc((100% - 48px) / 2)
        margin: 0 0 48px

    .contacts__right
        margin: 50px 0 0

    .contacts__quote
        background-size: 50px
        font-size: 16px
        padding: 50px 0 0
        margin: 0 auto 40px

    .contacts_maps
        padding: 0 0 50px

    .contacts_el
        width: 100%
        min-width: 100%
        margin: 0 0 30px

    .contacts_el__img
        display: none

    .contacts_el__wrp
        margin: 0

    .contacts_el__email
        font-size: 16px
        margin: 12px 0 0

    .contacts_el__phone
        font-size: 24px

    .contacts_maps__map
        width: 100%

    .why__h2
        font-size: 100px
        
@media (max-width: 640px)
    .our__link
        padding: 0 42px 0 0
        &:before
            right: 0

    .header
        height: 75px

    .header__phone
        width: 24px
        height: 24px

    .header_menu
        width: 30px

    .to_top
        width: 42px
        height: 64px
        background-size: contain
        bottom: 160px
        &:hover
            background: url(../img/to_top.svg) center no-repeat #16211E

    .main_banner__h1
        font-size: 34px
        line-height: 54px

    .main_banner
        padding: 85px 0 120px

    .main_banner__right
        margin: 20px 0 0

    .main_banner__title,
    .main_banner__text
        display: none

    .button
        height: 72px
        font-size: 14px

    .button-main_banner
        width: calc(100% - 80px)
    
    .main_slider
        height: 152px

    .main_slider__text
        max-width: 213px
        font-size: 40px
        line-height: 40px
        top: -6px

    .main_slider__button
        width: 80px
        height: 50px
        padding: 0
        span
            font-size: 0
            &:before
                width: 20px
                height: 1px
                left: 0
                right: 0
            &:after
                height: 15px
                right: 15px
        &:hover 
            span
                &:after
                    right: 15px

    .main_utps
        margin: 32px 0 40px

    .main_utps__utp
        margin: 0 40px 0 0

    .main_utps__title
        max-width: 210px
        font-size: 28px
        line-height: 120%
        margin: 0 0 14px

    .main_utps__text
        font-size: 14px
        line-height: 200%

    .our__h2
        max-width: 170px
        font-size: 34px
        margin: 0 0 40px

    .our_main__wrp
        height: 161px

    .our_main
        width: 74%
        margin: 0 0 40px

    .our__navs 
        .slider_arrow
            top: 200px
            &:before
                display: none

    .our_second
        display: none

    .our_second__wrp
        padding: 0

    .our_main__bottom
        padding: 25px 0 0 70px !important
    
    .our_main__date
        left: 0 !important
        top: 25px !important

    .our_main__title
        font-size: 16px !important
        line-height: 140% !important
        margin: 0 0 8px !important

    .our_main__text
        font-size: 14px !important

    .what
        padding: 36px 0 57px

    .what__h2
        max-width: 130px
        background-size: 80px
        font-size: 34px
        line-height: 120%
        padding: 55px 0 0

    .what__wrapper
        margin: 28px 0

    .what__link
        font-size: 24px

    .elem
        width: 100%
        margin: 0 0 32px

    .elem__top
        height: 191px !important
        margin: 0 0 18px

    .team
        background: url(../img/team.jpg) 50% bottom no-repeat #a4bf89
        background-size: 170% auto
        padding: 30px 0 390px

    .team__wrp
        flex-direction: column
        align-items: center
        text-align: center

    .team__h2
        max-width: 100%
        font-size: 34px

    .team__right
        max-width: 328px
        display: flex
        flex-direction: column
        align-items: center
        margin: 24px 0 0

    .team__text
        font-size: 14px
        line-height: 28px
        margin: 0 0 12px

    .our__link
        span
            font-size: 24px

    .our__link-team
        padding: 0
        &:before
            display: none
            
    .team__image
        width: 120%
        max-width: 456px
        right: -30%
        bottom: 20px

    .create
        background-size: auto 260px
        margin: 0 0 75px

    .create__h2
        max-width: 240px
        font-size: 34px

    .create__img
        display: none

    .create__text
        max-width: 290px
        font-size: 14px
        line-height: 28px
        text-align: center
        margin: 0

    .create__right
        margin: 0 0 30px

    .create__image
        height: 182px

    .create__bottom
        flex-direction: column

    .env
        padding: 0

    .env__h2
        max-width: 300px
        font-size: 34px
        margin: 0 0 30px

    .env__block-env
        margin: 0 0 230px

    .env__image
        width: 108%
        max-width: 406px
        top: 130px

    .what__h2-links
        max-width: 100%
        margin: 0 auto 40px

    .links__slider
        margin: 0 0 30px

    .links__slide
        height: 82px
        padding: 0 20px

    .links__img
        max-width: 100px

    .customers
        padding: 65px 0 20px

    .customers__h3
        max-width: 220px
        font-size: 34px
        margin: 0 auto 35px

    .customers__name
        margin: 0 0 10px

    .customers__wp
        margin: 0 0 20px

    .customers__text
        font-size: 14px
        line-height: 28px

    .customers__slider
        margin: 0 0 50px

    .customers__bot
        flex-direction: column

    .customers__navs
        margin: 0 0 50px

    .our__link-customers
        span
            font-size: 24px

    .customers__image
        width: 93%
        max-width: 360px

    .faq
        padding: 60px 0 70px

    .faq__el
        padding: 0 0 14px
        margin: 0 0 14px

    .faq__title
        font-size: 18px

    .faq__el
        &.active 
            .faq__content
                padding: 43px 33px
                margin: 28px 0 0

    .faq__content
        background: #F5F5F5
        &:before
            left: 35px

    .faq__wrp
        max-width: 100%
        margin: 0 auto 40px

    .latest
        background: url(../img/latest-tablet.svg) left 62px no-repeat #F5F5F5
        background-size: 100% auto
        padding: 62px 0

    .latest__h2
        max-width: 220px
        font-size: 34px
        margin: 0 auto 300px

    .latest_slider__image
        height: 168px
        margin: 0 0 18px

    .latest_slider
        top: 120px

    .latest_slider__date
        margin: 0 0 6px

    .latest_slider__title
        font-size: 18px

    .footer
        padding: 35px 0 120px

    .wrapper-footer
        flex-direction: column
        padding-bottom: 550px

    .footer__left
        width: 100%
        max-width: 100%
        flex-direction: column

    .footer__title
        margin: 0 0 14px

    .footer__col
        margin: 0 0 30px

    .footer__email
        margin: 0 0 35px

    .button-footer
        width: 100%
        justify-content: center
        padding: 0

    .footer__copy
        text-align: center
        right: 0
        bottom: -80px

    .footer__col
        .footer__title
            position: relative
            margin: 0
            transition: margin .3s ease-out
            &:before,
            &:after
                content: ""
                background: #16211E
                position: absolute
            &:before
                width: 17px
                height: 3px
                right: 4px
                top: 13px
            &:after
                width: 3px
                height: 17px
                right: 11px
                top: 6px
                transition: opacity .3s ease-out
        &.active
            .footer__title
                margin: 0 0 14px
                &:after
                    opacity: 0
            .navs-footer
                height: auto
                transform: scale(1)

    .navs-footer
        height: 0
        transform: scale(0)
        transform-origin: left top
        transition: transform .3s ease-out

    .about_top
        padding: 85px 0 75px

    .wrapper-about_top
        flex-direction: column-reverse

    .about_top__right
        max-width: 100%
        text-align: center
        margin: 0

    .about_top__h2
        font-size: 34px
        margin: 0

    .about_top__text
        display: none

    .about_top__left
        max-width: 100%
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        margin: 50px 0 0

    .about_top__our
        background-size: 50px
        font-size: 24px
        padding: 50px 0 0
        margin: 0 0 30px

    .about_top__cur
        font-size: 16px
        margin: 0 0 40px

    .why__wrp-top
        margin: 50px 0 20px

    .why
        padding: 0 0 75px

    .why__h2
        background: transparent
        font-size: 64px
        padding: 0
        margin: 0 0 40px

    .exp
        padding: 50px 0 75px

    .exp__wrp
        margin: 0

    .exp__h2 
        font-size: 34px
        text-align: center
        margin: 0 0 50px

    .exp__image
        display: none

    .exp__right
        text-align: center
        padding: 0
        margin: 0 auto

    .exp__h3
        font-size: 28px
        margin: 0 0 10px

    .exp__text
        font-size: 14px

    .exp__img-2
        display: none

    .our_ser__h2
        background: url(../img/what__h2.png) center top no-repeat
        background-size: 80px
        font-size: 34px
        text-align: center
        padding: 55px 0 0

    .our_ser
        background: url(../img/our_ser.svg) left bottom no-repeat #E2E9DB
        background-size: 200% auto
        padding: 0 0 100px

    .page__h1
        background: none
        font-size: 34px
        text-align: center
        padding: 110px 0 0
        margin: 0 0 30px

    .page__text
        font-size: 14px
        text-align: center
        margin: 0 0 40px

    .page__h2
        font-size: 34px
        margin: 0 0 30px
    
    .page_filters__text
        text-align: center
        margin: 0 0 14px

    .page_filters
        flex-direction: column
        margin: 0 0 40px

    .our_main__slide-page 
        .our_main__wrp
            height: 161px

    .our_main__slide-page
        margin: 0 0 48px

    .page__h1-second
        background: url(../img/what__h2.png) center top no-repeat
        background-size: 80px
        text-align: center
        padding: 55px 0 0
        margin: 0 auto 40px

    .our__link-second
        margin: 0 0 50px

    .portfolio__top
        flex-direction: column
        margin: 0 0 50px

    .page__h1-portfolio
        max-width: 240px

    .portfolio__text
        width: 100%
        background: url(../img/about_top__our.svg) center top no-repeat
        background-size: 50px
        font-size: 16px
        text-align: center
        padding: 50px 0 0
        margin: 0

    .cats
        margin: 0 0 70px

    .cats__el
        margin: 0 0 50px
        &:last-child
            margin: 0

    .cats__image
        height: 220px

    .page__bot
        margin: 0 0 50px

    .page__content
        display: flex
        flex-direction: column
        align-items: center

    .portfolio_second__top
        align-items: center

    .button-page
        top: 152px

    .page_case__gallery
        flex-direction: column-reverse
        margin: 0 0 48px

    .page_case__right
        width: 100%
        height: 250px
        margin: 0 0 15px

    .page_case__left
        width: 100%
        display: flex

    .page_case__img
        height: 75px
        margin: 0 15px 0 0

    .page__h1-case_page
        padding: 0

    .page_case__wrp
        display: flex
        flex-direction: column
        align-items: center

    .case_modal
        height: 400px
        .slider_arrow
            display: none !important

    .case_modal__img
        height: 250px

    .blog__wrp
        .latest_slider__slide
            margin: 0 0 50px !important
            &:nth-child(n)
                width: 100% !important
            .latest_slider__image
                height: 168px !important

    .article__top
        display: flex
        flex-direction: column
        align-items: center
        .page__h1
            max-width: 100%

    .article_social
        position: static
        margin: 30px 0 0

    .article__image
        height: 250px
        margin: 0 0 20px

    .article__article
        h2
            font-size: 24px
            line-height: 30px
            margin: 0 0 20px

        p
            font-size: 14px
            margin: 0 0 14px

    .article_video,
    .article_row,
    .article_block,
    .article__quote
        margin: 30px 0

    .article__quote
        background: url(../img/about_top__our.svg) left 20px no-repeat
        background-size: 50px
        font-size: 16px
        padding: 70px 0 30px

    .article_video__video,
    .article_block__image
        height: 180px

    .article_video
        .article_social
            margin: 20px 0 0

    .env__quote
        max-width: 75%
        background-size: 50px
        font-size: 16px
        padding: 50px 0 0
        margin: 0 auto

    .env__right
        margin: 60px 0 0

    .env__title
        font-size: 24px
        line-height: 30px

    .env__text
        font-size: 14px

    .env_banner
        height: 152px
        margin: 50px 0 0
        .main_slider__text
            bottom: -5px

    .env_block
        padding: 50px 0

    .env_block__h2
        font-size: 28px
        line-height: 32px
        margin: 0 0 24px

    .env_block__text
        font-size: 14px
        margin: 0 0 250px

    .env_block__image
        top: 150px

    .contacts__text
        font-size: 14px

    .form_accept__title
        font-size: 34px
        margin: 0 0 14px

    .form_accept__text
        font-size: 14px

    .modal_form
        height: 650px
        background: #E2E9DB
        padding: 25px 30px
        .modal__close
            right: 40px
            top: 25px

    .modal__title
        font-size: 28px

    .button-modal
        position: static
        margin: 40px 0 0

    .input_file
        margin: 30px 0 0

    .input_file__img
        display: none

    .our__link-input_file
        margin: 0

    .modal__text
        font-size: 14px
        margin: 20px 0 0

    .button-modal_conf
        position: static
        margin: 40px 0 0

    .testimonials__wrp
        margin: 75px 0 20px

@media (max-width: 375px)
    .env_block__text
        margin: 0 0 200px

    .env_block__image
        top: 170px

    .modal_conf
        height: 360px

@media (max-width: 320px)
    .team
        padding: 30px 0 340px

    .case_modal
        height: 300px

    .case_modal__img
        height: 200px

    .env_block__image
        top: 220px