{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link href="https://fonts.googleapis.com/css?family=Jomolhari|Lato:300,400,700,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'js/libs/slick/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=04032020">
        <title>{% if data.seo_title %}{{ data.seo_title }}{% elif data.name %}{{ data.name }}{% else %}Landscape{% endif %}</title>
        <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% endif %}">
        <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% endif %}">
    </head>
    <body {% block body_class %}{% endblock %}>
        <div class="preloader active">
            <img src="{% static 'img/preloader.gif' %}" alt="">
        </div>
        <div class="to_top"></div>
        <div class="overlay"></div>
        <div class="modal modal_services">
            <div class="modal__close modal__close-modal_services"></div>
            <div class="modal_services__left">
                <div class="our_services our_services-modal_services">
                    <div class="our_services__text">Back</div>
                </div>
                <div class="modal_navs">
                    {% for i in services %}
                        <a href="{% url 'main:service' i.alias %}" data-id="{{ forloop.counter }}" class="modal_navs__nav">{{ i.name }}</a>
                    {% endfor %}
                </div>
                <div class="our_services our_services-modal_services">
                    <div class="our_services__text">Back</div>
                </div>
            </div>
            <div class="modal_services__right">
                <div class="modal_services__top">
                    {% for i in services %}
                    <div data-id="{{ forloop.counter }}" class="modal_services__wrp">
                        <div class="modal_services__navs">
                            {% for s in i.sub_services.all %}
                            <div class="modal_services__nav"><a href="{% url 'main:service_lvl2' i.alias s.alias %}">{{ s.name }}</a></div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="button button-modal_services open_enquery">request free consultation</div>
            </div>
        </div>
        <div class="modal modal_form modal_enquery">
            <div class="modal__close"></div>
            <div class="modal__title">Fill in the form</div>
            <form class="form form_modal">
                <div class="form__input">
                    <input id="name" name="name" placeholder="Your name" type="text" required>
                    <input id="email" name="email" placeholder="Your e-mail" type="email">
                    <input id="phone" name="phone" placeholder="Your phone number" type="text" required>
                    <textarea id="message" name="message" placeholder="Type your message"></textarea>
                    <div class="checkbox">
                        <input id="f_agree" name="f_agree" type="checkbox" required>
                        <label for="f_agree">I agree with the <a href="#">privacy policy</a></label>
                    </div>
                    <button class="button button-modal">Click to submit enquiry</button>
                </div>
            </form>
        </div>
        <div class="modal modal_form modal_project">
            <div class="modal__close"></div>
            <div class="modal__title">Fill in the form and attach your file</div>
            <form class="form form_modal" data-file="true" onsubmit="return false">
                <div class="form__input">
                    <input id="name" name="name_p" placeholder="Your name" type="text" required>
                    <input id="email" name="email_p" placeholder="Your e-mail" type="email">
                    <input id="phone" name="phone_p" placeholder="Your phone number" type="text" required>
                    <textarea id="message" name="message_p" placeholder="Type your message"></textarea>
                    <div class="modal__wrp">
                        <div class="checkbox">
                            <input id="f_agree1" name="f_agree" type="checkbox" required>
                            <label for="f_agree1">I agree with the <a href="#">privacy policy</a></label>
                        </div>
                        <div class="input_file">
                            <label for="m_r_file" class="input_file__label">
                            <span class="input_file__img"></span>
                            <span class="our__link our__link-input_file">
                            <span>Click to attach file</span>
                            </span>
                            </label>
                            <input id="m_r_file" name="m_r_file" type="file">
                        </div>
                    </div>
                    <button class="button button-modal">Click to submit enquiry</button>
                </div>
            </form>
        </div>
        <div class="modal modal_form modal_conf">
            <div class="modal__close"></div>
            <div class="modal__title">Thank you!</div>
            <div class="modal__text">We aim to get in touch with you within 24 hours.</div>
            <div class="button button-modal_conf">Continue</div>
        </div>
        <div class="header">
            <div class="wrapper wrapper-header">
                <div class="header__left">
                    <div class="header_menu"></div>
                    <a href="/" class="header__logo"></a>
                    <div class="our_services our_services-header open_sevices">
                        <div class="our_services__text">Our services</div>
                    </div>
                </div>
                <div class="header_drop">
                    <div class="header_drop__wrp">
                        <div class="modal__close modal__close-header_drop"></div>
                        <div class="our_services our_services-header_drop open_sevices">
                            <div class="our_services__text">Our services</div>
                        </div>
                        <nav class="navs">
                            {% for m in main_menu %}
                            <a href="/{{ m.alias }}/" class="navs__nav">{{ m.name }}</a>
                            {% endfor %}
                        </nav>
                        <div class="button button-header_drop open_enquery">request free consultation</div>
                    </div>
                </div>
                <div class="header__right">
                    <a href="tel:07825253720" class="header__phone">Tel: 0782 5253 720</a>
                    <a href="mailto:rewtsgardening@yahoo.co.uk" class="header__email">rewtsgardening@yahoo.co.uk</a>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <div class="footer">
            <div class="wrapper wrapper-footer">
                <div class="footer__left">
                    <div class="footer__col animation animation_bot">
                        <div class="footer__title">Company</div>
                        <nav class="navs navs-footer">
                            {% for m in main_menu %}
                            <a href="/{{ m.alias }}/" class="navs__nav">{{ m.name }}</a>
                            {% endfor %}
                        </nav>
                    </div>
                    <div class="footer__col animation animation_bot">
                        <div class="footer__title">Services</div>
                        <nav class="navs navs-footer">
                        {% for i in services %}
                            <a href="{% url 'main:service' i.alias %}" class="navs__nav">{{ i.name }}</a>
                        {% endfor %}
                        </nav>
                    </div>
                    <div class="footer__copy animation animation_bot">
                        Copyright © {% now 'Y' %} <br />
                        REWTS LTD. All rights reserved
                    </div>
                </div>
                <div class="footer__right">
                    <div class="footer__form animation animation_bot">
                        <div class="footer__title">Get in touch</div>
                        <form class="form form_footer active" onsubmit="return false">
                            <div class="form__input">
                                <input id="name" name="name_f" placeholder="Your name" type="text" required>
                                <input id="email" name="email_f" placeholder="Your e-mail" type="email">
                                <input id="phone" name="phone_f" placeholder="Your phone number" type="text" required>
                                <textarea id="message" name="message_f" placeholder="Type your message"></textarea>
                                <div class="checkbox">
                                    <input id="f_agree2" name="f_agree" type="checkbox" required>
                                    <label for="f_agree2">I agree with the <a href="#">privacy policy</a></label>
                                </div>
                                <button class="button button-footer">Click to submit enquiry</button>
                            </div>
                        </form>
                        <div class="form_accept">
                            <div class="form_accept__title">Your request is accepted</div>
                            <div class="form_accept__text">Our manager will contact you shortly</div>
                        </div>
                    </div>
                    <div class="footer__contacts animation animation_bot">
                        <div class="footer__title">Contacts</div>
                        <a href="tel:07825253720" class="footer__phone">Tel: 0782 5253 720</a>
                        <a href="mailto:rewtsgardening@yahoo.co.uk" class="footer__email">rewtsgardening@yahoo.co.uk</a>
                        {% include 'inc/socials.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="open_conf" style="display: none"></div>
        <input type="hidden" name="csrf" value="{{ c.csrf_token }}">
        <script src="{% static 'js/libs/jquery/jquery.js' %}"></script>
        <script src="{% static 'js/libs/slick/slick.min.js' %}"></script>
        <script src="{% static 'js/libs/slick/slick.min.js' %}"></script>
        <script src="{% static 'js/csrf.js' %}"></script>
        <script src="{% static 'js/script.js' %}?v=26012020"></script>
    </body>
</html>