{% extends '_base.html' %}

{% load static %}

{% block content %}
<section class="about_top">
    <div class="wrapper wrapper-about_top">
        <div class="about_top__left">
            <div class="about_top__our animation animation_left">Our philosophy</div>
            <div class="about_top__cur animation animation_left">“Our professionalism has nothing to do with getting paid for our services. We aim to perform at the highest level possible with integrity and honesty.”</div>
            <div class="about_date animation animation_left">
                <div class="about_date__top">Established in</div>
                <div class="about_date__date">2011</div>
            </div>
        </div>
        <div class="about_top__right animation animation_right">
            <h2 class="about_top__h2">About company</h2>
            <div class="about_top__text">REWTS Trees and Gardens specialise in all aspects of horticulture and arboriculture including tree surgery, garden landscaping and garden maintenance.</div>
            <div class="about_top__text">We are a well established Suffolk based company with our main base near Ipswich with the majority of our work being located in and around Bury St. Edmunds, Stowmarket and Ipswich.</div>
            <div class="about_top__text">Whether you need emergency tree help, your garden re-designed, or a regular maintenance service, REWTS are fully equipped to provide all of these.</div>
        </div>
    </div>
</section>
<section class="why">
    <div class="wrapper wrapper-why">
        <div class="why__wrp why__wrp-top">
            <article class="main_utps__utp animation animation_bot">
                <h3 class="main_utps__title">Free consultation</h3>
                <div class="main_utps__text">We are happy to visit and discuss your potential projects, offer plenty of ideas and inspiration.</div>
            </article>
            <article class="main_utps__utp animation animation_bot">
                <h3 class="main_utps__title">Fair <br /> Price</h3>
                <div class="main_utps__text">Our prices reflect the projects and the skill involved.</div>
            </article>
            <h2 class="why__h2 animation animation_right">Why us?</h2>
        </div>
        <div class="why__wrp why__wrp-bottom">
            <article class="main_utps__utp main_utps__utp-mob animation animation_bot">
                <h3 class="main_utps__title">Free consultation</h3>
                <div class="main_utps__text">We are happy to visit and discuss your potential projects, offer plenty of ideas and inspiration.</div>
            </article>
            <article class="main_utps__utp main_utps__utp-mob animation animation_bot">
                <h3 class="main_utps__title">Fair <br /> Price</h3>
                <div class="main_utps__text">Our prices reflect the projects and the skill involved.</div>
            </article>
            <article class="main_utps__utp animation animation_bot">
                <h3 class="main_utps__title">Our <br /> Reputation</h3>
                <div class="main_utps__text">Through the years we have established a solid reputation with customers returning to us time and again.</div>
            </article>
            <article class="main_utps__utp animation animation_bot">
                <h3 class="main_utps__title">Recommendations</h3>
                <div class="main_utps__text">The majority of our work comes by word of mouth from satisfied customers passing on our name.</div>
            </article>
            <article class="main_utps__utp animation animation_bot">
                <h3 class="main_utps__title">Environmental Promise</h3>
                <div class="main_utps__text">We take the environment extremly seriously and do everything possible to make a positive impact.</div>
            </article>
            <article class="main_utps__utp animation animation_bot">
                <h3 class="main_utps__title">Reliability <br /> & Trust</h3>
                <div class="main_utps__text">We turn up! We always return your calls. We won’t leave you waiting.</div>
            </article>
            <article class="main_utps__utp animation animation_bot">
                <h3 class="main_utps__title">Complex projects</h3>
                <div class="main_utps__text">We love the challenge of working on complicated and technical designs.</div>
            </article>
        </div>
        <div class="button button-why animation animation_right open_enquery">Click to request design project</div>
    </div>
</section>
<section class="exp">
    <div class="wrapper wrapper-exp">
        <img class="exp__img-1 animation animation_left" src="{% static 'img/exp-1.jpg' %}" alt="">
        <img class="exp__img-2 animation animation_right" src="{% static 'img/exp-2.jpg' %}" alt="">
        <div class="exp__wrp">
            <h2 class="exp__h2 animation animation_bot">Experienced team using quality equipment </h2>
            <article class="exp__el animation animation_bot">
                <img class="exp__image" src="{% static 'img/exp__image-1.svg' %}" alt="">
                <div class="exp__right">
                    <h3 class="exp__h3">Our team</h3>
                    <div class="exp__text">All our employees are trained and have certificates confirming their qualifications.</div>
                </div>
            </article>
            <article class="exp__el animation animation_bot">
                <img class="exp__image" src="{% static 'img/exp__image-2.svg' %}" alt="">
                <div class="exp__right">
                    <h3 class="exp__h3">Our equipment</h3>
                    <div class="exp__text">We only use the most modern and efficient environmentally friendly equipment.</div>
                </div>
            </article>
        </div>
    </div>
</section>
<section class="our_ser">
    <div class="wrapper wrapper-our_ser">
        <h2 class="our_ser__h2  animation animation_left">Our services</h2>
        {% for s in services %}
            {% if forloop.counter < 4 %}
        <div class="our_ser__col animation animation_bot">
            <div class="footer__title">{{ s.name }}</div>
            <nav class="navs navs-our_ser">
                {% for i in s.sub_services.all %}
                <a href="{% url 'main:service_lvl2' s.alias i.alias %}" class="navs__nav">{{ i.name }}</a>
                {% endfor %}
            </nav>
        </div>
            {% endif %}
        {% endfor %}
        <div class="our_ser__col our_ser__col-last animation animation_right">
        {% for s in services %}
            {% if forloop.counter > 3 %}
            <a href="{% url 'main:service' s.alias %}" class="footer__title">{{ s.name }}</a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>
{% include 'inc/main_slider.html' %}
{% include 'inc/our_projects.html' %}
{% include 'inc/our_links.html' %}
{% include 'inc/our_customers.html' %}
{% endblock %}