{% extends '_base.html' %}
{% block content %}
<div class="page__wrp">
    <div class="wrapper wrapper-page__wrp">
        <div class="page__content">
            <div class="article__top">
                <h1 class="page__h1 page__h1-second animation animation_left">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
                <div class="article_social animation animation_right">
                    <div class="article_social__text">Share:</div>
                    <a href="#" target="_blank" class="socials__el">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7846 22.7846C20.6013 24.9679 17.6401 26.1944 14.5525 26.1944C11.4648 26.1944 8.50363 24.9679 6.32034 22.7846C4.13705 20.6013 2.91049 17.6401 2.91049 14.5525C2.91049 11.4648 4.13705 8.50363 6.32034 6.32034C8.50363 4.13705 11.4648 2.91049 14.5525 2.91049C17.6401 2.91049 20.6013 4.13705 22.7846 6.32034C24.9679 8.50363 26.1944 11.4648 26.1944 14.5525C26.1944 17.6401 24.9679 20.6013 22.7846 22.7846ZM0 14.5525C0 22.5898 6.51513 29.1049 14.5525 29.1049C22.5898 29.1049 29.1049 22.5898 29.1049 14.5525C29.1049 6.51513 22.5898 0 14.5525 0C6.51513 0 0 6.51513 0 14.5525ZM20.1145 10.5723C20.7185 10.5025 21.2933 10.3424 21.8288 10.1096C21.4271 10.7017 20.9212 11.216 20.3357 11.6274L20.3459 12.0087C20.3459 15.8942 17.3438 20.3734 11.8517 20.3734C10.2319 20.3757 8.64498 19.9169 7.27637 19.0506C7.51066 19.0768 7.74787 19.0914 7.98798 19.0914C9.32919 19.095 10.6336 18.6527 11.6959 17.834C11.0767 17.8254 10.4755 17.6242 9.97588 17.2583C9.47622 16.8924 9.10288 16.38 8.9077 15.7923C9.35546 15.8762 9.81629 15.8593 10.2567 15.7428C9.58585 15.6136 8.98051 15.2559 8.54376 14.7305C8.10702 14.2051 7.86587 13.5446 7.86138 12.8614V12.8251C8.27737 13.0523 8.74099 13.1784 9.21475 13.1932C8.41437 12.6679 7.88612 11.7656 7.88612 10.747C7.8854 10.2272 8.02518 9.71681 8.29067 9.2699C9.04656 10.1812 9.98411 10.9249 11.0435 11.4536C12.1029 11.9823 13.2608 12.2843 14.4434 12.3405C14.3925 12.1251 14.3663 11.901 14.3663 11.6711C14.3663 10.0485 15.7022 8.73146 17.351 8.73146C17.7582 8.73017 18.1613 8.81183 18.5358 8.97146C18.9104 9.13108 19.2485 9.36533 19.5295 9.65991C20.1977 9.53057 20.8392 9.2895 21.4272 8.94684C21.2031 9.63226 20.7316 10.2085 20.1145 10.5723Z" fill="#A5BF8B"/>
                        </svg>
                    </a>
                    <a href="#" target="_blank" class="socials__el">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 28 28" fill="none">
                            <path d="M23.1365 4.08178C20.5115 1.37356 17.3045 0 13.6055 0C9.87197 0 6.65597 1.37511 4.04597 4.08333C1.43147 6.79156 0.105469 10.1298 0.105469 14C0.105469 17.8344 1.42997 21.1602 4.04147 23.884C6.65297 26.6156 9.87047 28 13.6055 28C17.306 28 20.513 26.6156 23.1395 23.8887C25.772 21.1618 27.1055 17.8344 27.1055 14C27.1055 10.1298 25.7705 6.79156 23.1365 4.08178ZM21.0185 21.6891C19.313 23.4609 17.3645 24.4704 15.1055 24.7769V17.1111H18.1055V14H15.1055V11.8222C15.1055 11.6995 15.1288 11.578 15.1741 11.4647C15.2194 11.3514 15.2859 11.2484 15.3696 11.1617C15.4533 11.075 15.5527 11.0063 15.6621 10.9595C15.7715 10.9127 15.8887 10.8887 16.007 10.8889H18.1055V7.77778H16.01C14.897 7.77778 13.9685 8.20244 13.2245 9.05644C12.4805 9.90733 12.1055 10.9464 12.1055 12.18V14H9.10547V17.1111H12.1055V24.78C9.82247 24.4767 7.86647 23.4656 6.16997 21.6938C4.10747 19.5409 3.10547 17.024 3.10547 14C3.10547 10.9418 4.10597 8.41867 6.16847 6.28444C8.22347 4.14867 10.6565 3.11111 13.6055 3.11111C16.523 3.11111 18.9485 4.15022 21.023 6.28911C23.0975 8.42333 24.1055 10.9464 24.1055 14C24.1055 17.0193 23.096 19.5362 21.0185 21.6891Z" fill="#A5BF8B"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="article__date animation animation_left">{{ data.datetime }}</div>
            <div class="article__article">
                <div class="article__image animation animation_bot" style="background-image: url({% if data.image_preview %}{{ data.image_preview.url }}{% endif %});"></div>
                <div class="article__wrp animation animation_bot">
                    {{ data.content|safe }}
                </div>
                {% if data.blockquote %}
                <div class="article__quote animation animation_bot">{{ data.blockquote }}</div>
                {% endif %}
                <article class="article_block">
                    <div class="article_block__image animation animation_left" style="background-image: url({% if data.image_under_blockquote %}{{ data.image_under_blockquote.url }}{% endif %});"></div>
                    <div class="article_block__wrp animation animation_right">
                        {{ data.text_under_blockquote|safe }}
                    </div>
                </article>
                <article class="article_row animation animation_bot">
                    {{ data.desc_before_video|safe }}
                </article>
                {% if data.video %}
                <div class="article_video">
                    <div class="article_video__left animation animation_left">
                        <h3 class="article_video__h3">Watch video</h3>
                        <p>The name of the video in two or three lines</p>
                    </div>
                    <div class="article_video__video animation animation_right" style="background-image: url(img/latest_slider__image-2.jpg);"><iframe width="100%" height="315" src="{{ data.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    <div class="article_social animation animation_right">
                        <div class="article_social__text">Share:</div>
                        <a href="#" target="_blank" class="socials__el">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7846 22.7846C20.6013 24.9679 17.6401 26.1944 14.5525 26.1944C11.4648 26.1944 8.50363 24.9679 6.32034 22.7846C4.13705 20.6013 2.91049 17.6401 2.91049 14.5525C2.91049 11.4648 4.13705 8.50363 6.32034 6.32034C8.50363 4.13705 11.4648 2.91049 14.5525 2.91049C17.6401 2.91049 20.6013 4.13705 22.7846 6.32034C24.9679 8.50363 26.1944 11.4648 26.1944 14.5525C26.1944 17.6401 24.9679 20.6013 22.7846 22.7846ZM0 14.5525C0 22.5898 6.51513 29.1049 14.5525 29.1049C22.5898 29.1049 29.1049 22.5898 29.1049 14.5525C29.1049 6.51513 22.5898 0 14.5525 0C6.51513 0 0 6.51513 0 14.5525ZM20.1145 10.5723C20.7185 10.5025 21.2933 10.3424 21.8288 10.1096C21.4271 10.7017 20.9212 11.216 20.3357 11.6274L20.3459 12.0087C20.3459 15.8942 17.3438 20.3734 11.8517 20.3734C10.2319 20.3757 8.64498 19.9169 7.27637 19.0506C7.51066 19.0768 7.74787 19.0914 7.98798 19.0914C9.32919 19.095 10.6336 18.6527 11.6959 17.834C11.0767 17.8254 10.4755 17.6242 9.97588 17.2583C9.47622 16.8924 9.10288 16.38 8.9077 15.7923C9.35546 15.8762 9.81629 15.8593 10.2567 15.7428C9.58585 15.6136 8.98051 15.2559 8.54376 14.7305C8.10702 14.2051 7.86587 13.5446 7.86138 12.8614V12.8251C8.27737 13.0523 8.74099 13.1784 9.21475 13.1932C8.41437 12.6679 7.88612 11.7656 7.88612 10.747C7.8854 10.2272 8.02518 9.71681 8.29067 9.2699C9.04656 10.1812 9.98411 10.9249 11.0435 11.4536C12.1029 11.9823 13.2608 12.2843 14.4434 12.3405C14.3925 12.1251 14.3663 11.901 14.3663 11.6711C14.3663 10.0485 15.7022 8.73146 17.351 8.73146C17.7582 8.73017 18.1613 8.81183 18.5358 8.97146C18.9104 9.13108 19.2485 9.36533 19.5295 9.65991C20.1977 9.53057 20.8392 9.2895 21.4272 8.94684C21.2031 9.63226 20.7316 10.2085 20.1145 10.5723Z" fill="#A5BF8B"/>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="socials__el">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 28 28" fill="none">
                                <path d="M23.1365 4.08178C20.5115 1.37356 17.3045 0 13.6055 0C9.87197 0 6.65597 1.37511 4.04597 4.08333C1.43147 6.79156 0.105469 10.1298 0.105469 14C0.105469 17.8344 1.42997 21.1602 4.04147 23.884C6.65297 26.6156 9.87047 28 13.6055 28C17.306 28 20.513 26.6156 23.1395 23.8887C25.772 21.1618 27.1055 17.8344 27.1055 14C27.1055 10.1298 25.7705 6.79156 23.1365 4.08178ZM21.0185 21.6891C19.313 23.4609 17.3645 24.4704 15.1055 24.7769V17.1111H18.1055V14H15.1055V11.8222C15.1055 11.6995 15.1288 11.578 15.1741 11.4647C15.2194 11.3514 15.2859 11.2484 15.3696 11.1617C15.4533 11.075 15.5527 11.0063 15.6621 10.9595C15.7715 10.9127 15.8887 10.8887 16.007 10.8889H18.1055V7.77778H16.01C14.897 7.77778 13.9685 8.20244 13.2245 9.05644C12.4805 9.90733 12.1055 10.9464 12.1055 12.18V14H9.10547V17.1111H12.1055V24.78C9.82247 24.4767 7.86647 23.4656 6.16997 21.6938C4.10747 19.5409 3.10547 17.024 3.10547 14C3.10547 10.9418 4.10597 8.41867 6.16847 6.28444C8.22347 4.14867 10.6565 3.11111 13.6055 3.11111C16.523 3.11111 18.9485 4.15022 21.023 6.28911C23.0975 8.42333 24.1055 10.9464 24.1055 14C24.1055 17.0193 23.096 19.5362 21.0185 21.6891Z" fill="#A5BF8B"/>
                            </svg>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="page__bot animation animation_bot">
                <div class="our__link our__link-article">
                    <a href="{% url 'main:blog' %}"><span>Back to articles</span></a>
                </div>
            </div>
        </div>
        {% include 'inc/page_menu.html' %}
    </div>
    {% include 'inc/main_slider.html' %}
    {% include 'inc/create_project.html' %}
</div>
{% endblock %}