{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="page__wrp page__wrp-blog">
    <div class="wrapper wrapper-testimonials">
        <h1 class="page__h1 page__h1-second  ">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
        <div class="page_filters animation animation_left">
            <div class="page_filters__text">Sort by:</div>
            <div class="page_filters__wrp">
                {% for t in tags %}
                <a href="{% url 'main:blog' %}?tag={{ t.pk }}" class="page_filters__button {% if t.pk in active_tags %}active{% endif %}">{{ t.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="blog__wrp">
            {% for i in blog_items %}
            <a href="{% url 'main:blog-item' i.alias %}" class="latest_slider__slide animation animation_bot">
                <div class="latest_slider__image" style="background-image: url({% if i.image_preview %}{{ i.image_preview.url }}{% endif %});"></div>
                <div class="latest_slider__date">{{ i.datetime }}</div>
                <div class="latest_slider__title">{{ i.name }}</div>
            </a>
            {% endfor %}
{#            <a href="#" class="latest_slider__slide animation animation_bot">#}
{#                <div class="latest_slider__image" style="background-image: url({% static 'img/blog-2.jpg' %});"></div>#}
{#                <div class="latest_slider__date">March 13th, 2019</div>#}
{#                <div class="latest_slider__title">Special equipment</div>#}
{#            </a>#}
{#            <a href="#" class="latest_slider__slide animation animation_bot">#}
{#                <div class="latest_slider__image" style="background-image: url({% static 'img/blog-3.jpg' %});"></div>#}
{#                <div class="latest_slider__date">March 13th, 2019</div>#}
{#                <div class="latest_slider__title">Special equipment</div>#}
{#            </a>#}
{#            <a href="#" class="latest_slider__slide animation animation_bot">#}
{#                <div class="latest_slider__image" style="background-image: url({% static 'img/blog-4.jpg' %});"></div>#}
{#                <div class="latest_slider__date">March 13th, 2019</div>#}
{#                <div class="latest_slider__title">Special equipment</div>#}
{#            </a>#}
{#            <a href="#" class="latest_slider__slide animation animation_bot">#}
{#                <div class="latest_slider__image" style="background-image: url({% static 'img/blog-5.jpg' %});"></div>#}
{#                <div class="latest_slider__date">March 13th, 2019</div>#}
{#                <div class="latest_slider__title">Special equipment</div>#}
{#            </a>#}
{#            <a href="#" class="latest_slider__slide animation animation_bot">#}
{#                <div class="latest_slider__image" style="background-image: url({% static 'img/blog-6.jpg' %});"></div>#}
{#                <div class="latest_slider__date">March 13th, 2019</div>#}
{#                <div class="latest_slider__title">Special equipment</div>#}
{#            </a>#}
{#            <a href="#" class="latest_slider__slide animation animation_bot">#}
{#                <div class="latest_slider__image" style="background-image: url({% static 'img/blog-7.jpg' %});"></div>#}
{#                <div class="latest_slider__date">March 13th, 2019</div>#}
{#                <div class="latest_slider__title">Special equipment</div>#}
{#            </a>#}
{#            <a href="#" class="latest_slider__slide animation animation_bot">#}
{#                <div class="latest_slider__image" style="background-image: url({% static 'img/blog-8.jpg' %});"></div>#}
{#                <div class="latest_slider__date">March 13th, 2019</div>#}
{#                <div class="latest_slider__title">Special equipment</div>#}
{#            </a>#}
        </div>
        <div class="page__bot page__bot-blog animation animation_bot">
            <div class="our__link">
                <span>Show more</span>
            </div>
        </div>
    </div>
    {% include 'inc/main_slider.html' %}
    {% include 'inc/create_project.html' %}
</div>
{% endblock %}