{% extends '_base.html' %}

{% load static %}

{% block body_class %}class="backgrpund_white"{% endblock %}

{% block content %}
<div class="page__wrp page__wrp-contacts">
    <div class="wrapper wrapper-contacts">
        <div class="contacts__top">
            <div class="contacts__left">
                <h1 class="page__h1 page__h1-second page__h1-contacts animation animation_left">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
                <div class="socials animation animation_left">
                    <a href="https://twitter.com/rewts3" target="_blank" class="socials__el">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7846 22.7846C20.6013 24.9679 17.6401 26.1944 14.5525 26.1944C11.4648 26.1944 8.50363 24.9679 6.32034 22.7846C4.13705 20.6013 2.91049 17.6401 2.91049 14.5525C2.91049 11.4648 4.13705 8.50363 6.32034 6.32034C8.50363 4.13705 11.4648 2.91049 14.5525 2.91049C17.6401 2.91049 20.6013 4.13705 22.7846 6.32034C24.9679 8.50363 26.1944 11.4648 26.1944 14.5525C26.1944 17.6401 24.9679 20.6013 22.7846 22.7846ZM0 14.5525C0 22.5898 6.51513 29.1049 14.5525 29.1049C22.5898 29.1049 29.1049 22.5898 29.1049 14.5525C29.1049 6.51513 22.5898 0 14.5525 0C6.51513 0 0 6.51513 0 14.5525ZM20.1145 10.5723C20.7185 10.5025 21.2933 10.3424 21.8288 10.1096C21.4271 10.7017 20.9212 11.216 20.3357 11.6274L20.3459 12.0087C20.3459 15.8942 17.3438 20.3734 11.8517 20.3734C10.2319 20.3757 8.64498 19.9169 7.27637 19.0506C7.51066 19.0768 7.74787 19.0914 7.98798 19.0914C9.32919 19.095 10.6336 18.6527 11.6959 17.834C11.0767 17.8254 10.4755 17.6242 9.97588 17.2583C9.47622 16.8924 9.10288 16.38 8.9077 15.7923C9.35546 15.8762 9.81629 15.8593 10.2567 15.7428C9.58585 15.6136 8.98051 15.2559 8.54376 14.7305C8.10702 14.2051 7.86587 13.5446 7.86138 12.8614V12.8251C8.27737 13.0523 8.74099 13.1784 9.21475 13.1932C8.41437 12.6679 7.88612 11.7656 7.88612 10.747C7.8854 10.2272 8.02518 9.71681 8.29067 9.2699C9.04656 10.1812 9.98411 10.9249 11.0435 11.4536C12.1029 11.9823 13.2608 12.2843 14.4434 12.3405C14.3925 12.1251 14.3663 11.901 14.3663 11.6711C14.3663 10.0485 15.7022 8.73146 17.351 8.73146C17.7582 8.73017 18.1613 8.81183 18.5358 8.97146C18.9104 9.13108 19.2485 9.36533 19.5295 9.65991C20.1977 9.53057 20.8392 9.2895 21.4272 8.94684C21.2031 9.63226 20.7316 10.2085 20.1145 10.5723Z" fill="#A5BF8B"/>
                        </svg>
                    </a>
                    <a href="https://facebook.com/rewtsgardening" target="_blank" class="socials__el">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 28 28" fill="none">
                            <path d="M23.1365 4.08178C20.5115 1.37356 17.3045 0 13.6055 0C9.87197 0 6.65597 1.37511 4.04597 4.08333C1.43147 6.79156 0.105469 10.1298 0.105469 14C0.105469 17.8344 1.42997 21.1602 4.04147 23.884C6.65297 26.6156 9.87047 28 13.6055 28C17.306 28 20.513 26.6156 23.1395 23.8887C25.772 21.1618 27.1055 17.8344 27.1055 14C27.1055 10.1298 25.7705 6.79156 23.1365 4.08178ZM21.0185 21.6891C19.313 23.4609 17.3645 24.4704 15.1055 24.7769V17.1111H18.1055V14H15.1055V11.8222C15.1055 11.6995 15.1288 11.578 15.1741 11.4647C15.2194 11.3514 15.2859 11.2484 15.3696 11.1617C15.4533 11.075 15.5527 11.0063 15.6621 10.9595C15.7715 10.9127 15.8887 10.8887 16.007 10.8889H18.1055V7.77778H16.01C14.897 7.77778 13.9685 8.20244 13.2245 9.05644C12.4805 9.90733 12.1055 10.9464 12.1055 12.18V14H9.10547V17.1111H12.1055V24.78C9.82247 24.4767 7.86647 23.4656 6.16997 21.6938C4.10747 19.5409 3.10547 17.024 3.10547 14C3.10547 10.9418 4.10597 8.41867 6.16847 6.28444C8.22347 4.14867 10.6565 3.11111 13.6055 3.11111C16.523 3.11111 18.9485 4.15022 21.023 6.28911C23.0975 8.42333 24.1055 10.9464 24.1055 14C24.1055 17.0193 23.096 19.5362 21.0185 21.6891Z" fill="#A5BF8B"/>
                        </svg>
                    </a>
                    <a href="https://instagram.com/rewts" target="_blank" class="socials__el">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 29 29" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6055 1C10.9389 1 10.4799 1.0162 9.03942 1.081C7.60302 1.14715 6.62157 1.3753 5.76297 1.70875C4.86183 2.04739 4.04544 2.5786 3.37077 3.2653C2.6841 3.93999 2.1529 4.75638 1.81422 5.6575C1.48077 6.5161 1.25262 7.49755 1.18647 8.93395C1.12032 10.3744 1.10547 10.8334 1.10547 14.5C1.10547 18.1666 1.12032 18.6256 1.18647 20.066C1.25262 21.5024 1.48077 22.4839 1.81422 23.3425C2.15294 24.2436 2.68413 25.06 3.37077 25.7347C4.04549 26.4213 4.86187 26.9525 5.76297 27.2913C6.62157 27.6247 7.60302 27.8529 9.03942 27.919C10.4799 27.9838 10.9389 28 14.6055 28C18.2721 28 18.7311 27.9838 20.1715 27.919C21.6079 27.8529 22.5894 27.6247 23.448 27.2913C24.3491 26.9526 25.1655 26.4214 25.8402 25.7347C26.5268 25.06 27.058 24.2436 27.3967 23.3425C27.7302 22.4839 27.9583 21.5024 28.0245 20.066C28.0893 18.6256 28.1055 18.1666 28.1055 14.5C28.1055 10.8334 28.0893 10.3744 28.0245 8.93395C27.9583 7.49755 27.7302 6.5161 27.3967 5.6575C27.058 4.75638 26.5268 3.93999 25.8402 3.2653C25.1655 2.5786 24.3491 2.04739 23.448 1.70875C22.5894 1.3753 21.6079 1.14715 20.1715 1.081C18.7311 1.0162 18.2721 1 14.6055 1ZM14.6055 3.4327C18.21 3.4327 18.6366 3.4462 20.0595 3.511C21.3771 3.57175 22.0912 3.79045 22.5678 3.9754C23.1969 4.2211 23.6478 4.51405 24.1203 4.9852C24.5928 5.4577 24.8844 5.9086 25.1301 6.5377C25.3137 7.01425 25.5351 7.7284 25.5945 9.04465C25.6593 10.4689 25.6728 10.8941 25.6728 14.5C25.6728 18.1045 25.6593 18.5311 25.5945 19.954C25.5337 21.2716 25.3137 21.9858 25.1301 22.4623C24.9136 23.0487 24.5686 23.5792 24.1203 24.0148C23.6478 24.4873 23.1969 24.7789 22.5678 25.0246C22.0912 25.2082 21.3771 25.4296 20.0608 25.489C18.6379 25.5538 18.2113 25.5673 14.6055 25.5673C11.001 25.5673 10.573 25.5538 9.15147 25.489C7.83387 25.4282 7.11972 25.2082 6.64317 25.0246C6.05671 24.8082 5.5262 24.4632 5.09067 24.0148C4.64228 23.5793 4.29722 23.0488 4.08087 22.4623C3.89592 21.9858 3.67587 21.2716 3.61647 19.9554C3.55167 18.5311 3.53817 18.1059 3.53817 14.5C3.53817 10.8955 3.55167 10.4689 3.61647 9.046C3.67722 7.7284 3.89592 7.01425 4.08087 6.5377C4.32657 5.9086 4.61952 5.4577 5.09067 4.9852C5.56317 4.5127 6.01407 4.2211 6.64317 3.9754C7.11972 3.79045 7.83387 3.5704 9.15012 3.511C10.5744 3.4462 10.9996 3.4327 14.6055 3.4327ZM14.6055 18.9995C13.4121 18.9995 12.2676 18.5255 11.4238 17.6817C10.58 16.8378 10.1059 15.6934 10.1059 14.5C10.1059 13.3066 10.58 12.1622 11.4238 11.3183C12.2676 10.4745 13.4121 10.0005 14.6055 10.0005C15.7988 10.0005 16.9433 10.4745 17.7871 11.3183C18.631 12.1622 19.105 13.3066 19.105 14.5C19.105 15.6934 18.631 16.8378 17.7871 17.6817C16.9433 18.5255 15.7988 18.9995 14.6055 18.9995ZM14.6055 7.56775C13.6951 7.56775 12.7937 7.74706 11.9526 8.09544C11.1116 8.44381 10.3473 8.95444 9.70363 9.59816C9.05991 10.2419 8.54928 11.0061 8.2009 11.8471C7.85253 12.6882 7.67322 13.5896 7.67322 14.5C7.67322 15.4104 7.85253 16.3118 8.2009 17.1529C8.54928 17.9939 9.05991 18.7581 9.70363 19.4018C10.3473 20.0456 11.1116 20.5562 11.9526 20.9046C12.7937 21.2529 13.6951 21.4323 14.6055 21.4323C16.444 21.4323 18.2073 20.7019 19.5073 19.4018C20.8074 18.1018 21.5377 16.3385 21.5377 14.5C21.5377 12.6615 20.8074 10.8982 19.5073 9.59816C18.2073 8.29811 16.444 7.56775 14.6055 7.56775ZM23.4318 7.2937C23.4318 7.50644 23.3899 7.7171 23.3085 7.91365C23.227 8.11019 23.1077 8.28878 22.9573 8.43921C22.8069 8.58964 22.6283 8.70897 22.4317 8.79039C22.2352 8.8718 22.0245 8.9137 21.8118 8.9137C21.599 8.9137 21.3884 8.8718 21.1918 8.79039C20.9953 8.70897 20.8167 8.58964 20.6663 8.43921C20.5158 8.28878 20.3965 8.11019 20.3151 7.91365C20.2337 7.7171 20.1918 7.50644 20.1918 7.2937C20.1918 6.86405 20.3624 6.452 20.6663 6.14819C20.9701 5.84438 21.3821 5.6737 21.8118 5.6737C22.2414 5.6737 22.6535 5.84438 22.9573 6.14819C23.2611 6.452 23.4318 6.86405 23.4318 7.2937Z" fill="#A5BF8B"/>
                            <path d="M23.4318 7.2937C23.4318 7.50644 23.3899 7.7171 23.3085 7.91365C23.227 8.11019 23.1077 8.28878 22.9573 8.43921C22.8069 8.58964 22.6283 8.70897 22.4317 8.79039C22.2352 8.8718 22.0245 8.9137 21.8118 8.9137C21.599 8.9137 21.3884 8.8718 21.1918 8.79039C20.9953 8.70897 20.8167 8.58964 20.6663 8.43921C20.5158 8.28878 20.3965 8.11019 20.3151 7.91365C20.2337 7.7171 20.1918 7.50644 20.1918 7.2937C20.1918 6.86405 20.3624 6.452 20.6663 6.14819C20.9701 5.84438 21.3821 5.6737 21.8118 5.6737C22.2414 5.6737 22.6535 5.84438 22.9573 6.14819C23.2611 6.452 23.4318 6.86405 23.4318 7.2937M14.6055 1C10.9389 1 10.4799 1.0162 9.03942 1.081C7.60302 1.14715 6.62157 1.3753 5.76297 1.70875C4.86183 2.04739 4.04544 2.5786 3.37077 3.2653C2.6841 3.93999 2.1529 4.75638 1.81422 5.6575C1.48077 6.5161 1.25262 7.49755 1.18647 8.93395C1.12032 10.3744 1.10547 10.8334 1.10547 14.5C1.10547 18.1666 1.12032 18.6256 1.18647 20.066C1.25262 21.5024 1.48077 22.4839 1.81422 23.3425C2.15294 24.2436 2.68413 25.06 3.37077 25.7347C4.04549 26.4213 4.86187 26.9525 5.76297 27.2913C6.62157 27.6247 7.60302 27.8529 9.03942 27.919C10.4799 27.9838 10.9389 28 14.6055 28C18.2721 28 18.7311 27.9838 20.1715 27.919C21.6079 27.8529 22.5894 27.6247 23.448 27.2913C24.3491 26.9526 25.1655 26.4214 25.8402 25.7347C26.5268 25.06 27.058 24.2436 27.3967 23.3425C27.7302 22.4839 27.9583 21.5024 28.0245 20.066C28.0893 18.6256 28.1055 18.1666 28.1055 14.5C28.1055 10.8334 28.0893 10.3744 28.0245 8.93395C27.9583 7.49755 27.7302 6.5161 27.3967 5.6575C27.058 4.75638 26.5268 3.93999 25.8402 3.2653C25.1655 2.5786 24.3491 2.04739 23.448 1.70875C22.5894 1.3753 21.6079 1.14715 20.1715 1.081C18.7311 1.0162 18.2721 1 14.6055 1ZM14.6055 3.4327C18.21 3.4327 18.6366 3.4462 20.0595 3.511C21.3771 3.57175 22.0912 3.79045 22.5678 3.9754C23.1969 4.2211 23.6478 4.51405 24.1203 4.9852C24.5928 5.4577 24.8844 5.9086 25.1301 6.5377C25.3137 7.01425 25.5351 7.7284 25.5945 9.04465C25.6593 10.4689 25.6728 10.8942 25.6728 14.5C25.6728 18.1045 25.6593 18.5311 25.5945 19.954C25.5337 21.2716 25.3137 21.9858 25.1301 22.4623C24.9136 23.0487 24.5686 23.5792 24.1203 24.0148C23.6478 24.4873 23.1969 24.7789 22.5678 25.0246C22.0912 25.2082 21.3771 25.4296 20.0608 25.489C18.6379 25.5538 18.2113 25.5673 14.6055 25.5673C11.001 25.5673 10.573 25.5538 9.15147 25.489C7.83387 25.4282 7.11972 25.2082 6.64317 25.0246C6.05671 24.8082 5.5262 24.4632 5.09067 24.0148C4.64228 23.5793 4.29722 23.0488 4.08087 22.4623C3.89592 21.9858 3.67587 21.2716 3.61647 19.9554C3.55167 18.5311 3.53817 18.1059 3.53817 14.5C3.53817 10.8955 3.55167 10.4689 3.61647 9.046C3.67722 7.7284 3.89592 7.01425 4.08087 6.5377C4.32657 5.9086 4.61952 5.4577 5.09067 4.9852C5.56317 4.5127 6.01407 4.2211 6.64317 3.9754C7.11972 3.79045 7.83387 3.5704 9.15012 3.511C10.5744 3.4462 10.9996 3.4327 14.6055 3.4327ZM14.6055 18.9996C13.4121 18.9996 12.2676 18.5255 11.4238 17.6817C10.58 16.8378 10.1059 15.6934 10.1059 14.5C10.1059 13.3066 10.58 12.1622 11.4238 11.3183C12.2676 10.4745 13.4121 10.0004 14.6055 10.0004C15.7988 10.0004 16.9433 10.4745 17.7871 11.3183C18.631 12.1622 19.105 13.3066 19.105 14.5C19.105 15.6934 18.631 16.8378 17.7871 17.6817C16.9433 18.5255 15.7988 18.9996 14.6055 18.9996V18.9996ZM14.6055 7.56775C13.6951 7.56775 12.7937 7.74706 11.9526 8.09544C11.1116 8.44381 10.3473 8.95444 9.70363 9.59816C9.05991 10.2419 8.54928 11.0061 8.2009 11.8471C7.85253 12.6882 7.67322 13.5896 7.67322 14.5C7.67322 15.4104 7.85253 16.3118 8.2009 17.1529C8.54928 17.9939 9.05991 18.7581 9.70363 19.4018C10.3473 20.0456 11.1116 20.5562 11.9526 20.9046C12.7937 21.2529 13.6951 21.4323 14.6055 21.4323C16.444 21.4323 18.2073 20.7019 19.5073 19.4018C20.8074 18.1018 21.5377 16.3385 21.5377 14.5C21.5377 12.6615 20.8074 10.8982 19.5073 9.59816C18.2073 8.29811 16.444 7.56775 14.6055 7.56775V7.56775Z" stroke="#A5BF8B" stroke-width="0.5"/>
                        </svg>
                    </a>
                </div>
                <div class="contacts__text animation animation_left">We aim to respond to e-mails within 24 hours, however if you need а quicker response please call us.</div>
            </div>
            <div class="contacts__right">
                <div class="contacts__quote animation animation_right">Get in touch for a free non obligatory quote. We will be happy to help you with anything from a one - off job, to year - round maintenance.</div>
                <div class="contacts__row">
                    <div class="contacts_el animation animation_bot">
                        <img class="contacts_el__img" src="{% static 'img/contacts_el__img-1.svg' %}" alt="">
                        <div class="contacts_el__wrp">
                            <div class="contacts_el__title">E-mail:</div>
                            <a href="mailto:rewtsgardening@yahoo.co.uk" class="contacts_el__email">rewtsgardening@yahoo.co.uk</a>
                        </div>
                    </div>
                    <div class="contacts_el animation animation_bot">
                        <img class="contacts_el__img" src="{% static 'img/contacts_el__img-2.svg' %}" alt="">
                        <div class="contacts_el__wrp">
                            <div class="contacts_el__title">Phone number:</div>
                            <a href="tel:07825253720" class="contacts_el__phone">0782 5253 720</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts_maps">
            <div class="contacts_maps__map animation animation_bot">
                <div class="contacts_maps__title">Bury St Edmunds</div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39085.30698976607!2d0.6834900614100583!3d52.2464407640888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d81562eecf1ae1%3A0x2c70565e638e48f9!2sBury%20St%20Edmunds%2C%20Bury%20Saint%20Edmunds%2C%20UK!5e0!3m2!1sen!2sru!4v1610820512459!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="contacts_maps__map animation animation_bot">
                <div class="contacts_maps__title">Stowmarket</div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19568.22193044344!2d0.9796515751030216!3d52.18836845416193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d9961fa85ee5e5%3A0x18dbd0314d5affc6!2sStowmarket%2C%20UK!5e0!3m2!1sen!2sru!4v1610820540108!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="contacts_maps__map animation animation_bot">
                <div class="contacts_maps__title">Ipswich</div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d78503.44583368514!2d1.0939549828602944!3d52.05728674167734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d907861ed5d887%3A0x33ddc3ac7d2d42a9!2sIpswich%2C%20UK!5e0!3m2!1sen!2sru!4v1610820561941!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}