{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="page__wrp page__wrp-testimonials">
    <div class="wrapper wrapper-env">
        <div class="env__top">
            <div class="env__left">
                <h1 class="page__h1 page__h1-second page__h1-env animation animation_left">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
                <div class="env__quote animation animation_left">REWTS have a strong environmentally friendly work ethic and strive to maximise the positive impact we have on the environment.</div>
            </div>
            <div class="env__right">
                <div class="env__title animation animation_right">Organic methods & sustainable techniques</div>
                <div class="env__text animation animation_right">We aim to minimize the use of manufactured chemical substances. Instead, we use our own compost and natural nutrients to increase soil health and fertility.  Our wood chippings are a byproduct from our tree surgery business. Our own mulch, produced from these chippings, helps to keep the soil moist, enriches it and keeps the weeds down. It also delivers nutrients back to the earth as it breaks down. We also sell any surplus wood chippings to bio fuel energy companies - this is a great alternative to some of the more detrimental fossil fuels or natural gas.</div>
            </div>
        </div>
    </div>
    <div class="env_banner animation animation_bot">
        <div class="main_slider__slide active">
            <div class="main_slider__back paral" style="background-image: url({% static 'img/main_slider__back-env.jpg' %});"></div>
            <div class="main_slider__text">Eco standards</div>
        </div>
    </div>
    <div class="env_block">
        <div class="wrapper wrapper-env_block">
            <div class="env_block__content">
                <h2 class="env_block__h2 animation animation_left">Our <br /> equipment</h2>
                <div class="env_block__text animation animation_left">We use battery powered chainsaws which are much quieter than standard petrol chainsaws lessening noise pollution. They are so quiet we don’t need to use ear defenders - less disruption for you and the neighbours! Battery powered chainsaws also have the advantage of not emitting fumes, minimizing any impact on the environment.</div>
                <a href="/about/" class="our__link animation animation_left">
                <span>More about company</span>
                </a>
            </div>
            <img class="env_block__image animation animation_right" src="{% static 'img/env_block__image.png' %}" alt="">
        </div>
    </div>
    {% include 'inc/what.html' %}
    {% include 'inc/create_project.html' %}
</div>
{% endblock %}