{% extends "_base.html" %}
{% load static %}
{% block content %}
<div class="page__wrp page__wrp-main_page">
    <section class="faq">
        <div class="wrapper wrapper-faq">
            <h2 class="what__h2 what__h2-faq animation animation_bot">FAQ</h2>
            <div class="faq__wrp">
                {% for f in faq %}
                <div class="faq__el animation animation_bot">
                    <div class="faq__title">{{ f.name }}</div>
                    <div class="faq__content">{{ f.text|safe }}</div>
                </div>
                {% endfor %}
            </div>
            <a href="javascript:" class="our__link animation animation_bot">
                <span class="open_enquery">Ask your question</span>
            </a>
        </div>
    </section>
    {% include 'inc/create_project.html' %}
</div>
{% endblock %}