{% extends '_base.html' %}
{% load static %}
{% block content %}
<section class="main_banner">
    <div class="wrapper wrapper-main_banner">
        <div class="main_banner__h1 animation animation_bot">
            <a href="/services/tree-surgery/">Tree surgery</a>
            <a href="/services/garden-landscaping/">Landscaping</a>
            <a href="services/garden-maintenance/">Maintenance</a>
        </div>
        <div class="main_banner__right">
            <div class="main_banner__title animation animation_bot">REWTS</div>
            <div class="main_banner__text animation animation_bot">We are a well established Suffolk based company with our main base near Ipswich with the majority of our work being located in and around Bury St. Edmunds, Stowmarket and Ipswich.</div>
            {% include 'inc/socials.html' %}
        </div>
        <div class="button button-main_banner animation animation_left open_project">Click to request design project</div>
    </div>
</section>
{% include 'inc/main_slider.html' %}
<div class="main_utps">
    <div class="wrapper wrapper-main_utps animation animation_bot">
        <div class="main_utps__utp">
            <div class="main_utps__title">Free consultation</div>
            <div class="main_utps__text">We are happy to visit and discuss your potential projects, offer plenty of ideas and inspiration.</div>
        </div>
        <div class="main_utps__utp">
            <div class="main_utps__title">Fair <br /> Price</div>
            <div class="main_utps__text">Our prices reflect the projects and the skill involved.</div>
        </div>
        <div class="main_utps__utp">
            <div class="main_utps__title">Environmental Promise</div>
            <div class="main_utps__text">We take the environment extremly seriously and do everything possible to make a positive impact.</div>
        </div>
        <div class="main_utps__utp">
            <div class="main_utps__title">Reliability <br /> & Trust</div>
            <div class="main_utps__text">We turn up! We always return your calls. We won’t leave you waiting.</div>
        </div>
        <div class="main_utps__utp">
            <div class="main_utps__title">Complex projects</div>
            <div class="main_utps__text">We love the challenge of working on complicated and technical designs.</div>
        </div>
    </div>
</div>
{% include 'inc/our_projects.html' %}
{% include 'inc/what.html' %}
<section class="team">
    <div class="wrapper wrapper-team">
        <div class="team__wrp animation animation_left">
            <h2 class="team__h2">Our team</h2>
            <div class="team__right">
                <div class="team__text">Between us we have a mix of skills and qualifications which allows us to undertake a wide range of projects. <br />We take pride in our work. It’s personal to us, ensuring we work to the highest standard.</div>
                <a href="{% url 'main:about' %}" class="our__link our__link-team">
                <span>More about REWTS</span>
                </a>
            </div>
        </div>
        <img class="team__image animation animation_right" src="{% static 'img/team__image.png' %}" alt="">
    </div>
</section>
{% include 'inc/create_project.html' %}
<section class="env">
    <div class="wrapper wrapper-env">
        <div class="env__wrp">
            <h2 class="env__h2 animation animation_left">Environmental promise</h2>
            <div class="env__block env__block-env animation animation_left">
                <img class="create__img" src="{% static 'img/env__img.svg' %}" alt="">
                <div class="create__text creat__text-env">REWTS have a strong environmentally friendly work ethic and strive to maximise the positive impact we have on the environment.</div>
            </div>
            <a href="/environment/" class="our__link animation animation_left">
            <span>Find out More</span>
            </a>
        </div>
        <img class="env__image animation animation_right" src="{% static 'img/env__image.png' %}" alt="">
    </div>
</section>
{% include 'inc/our_links.html' %}
{% include 'inc/our_customers.html' %}
<section class="faq">
    <div class="wrapper wrapper-faq">
        <h2 class="what__h2 what__h2-faq animation animation_bot">FAQ</h2>
        <div class="faq__wrp">
            {% for f in faqs %}
            {% if forloop.counter < 4 %}
            <div class="faq__el animation animation_bot">
                <div class="faq__title">{{ f.name }}</div>
                <div class="faq__content">{{ f.text|safe }}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div style="width: 70%;">
            <a href="/faq/" class="our__link animation animation_bot"><span>More</span></a>
            <a href="javascript:" class="our__link animation animation_bot" style="float: right;">
                <span class="open_enquery">Ask your question</span>
            </a>
        </div>
    </div>
</section>
<section class="latest">
    <div class="wrapper wrapper-latest">
        <div class="latest__left">
            <div class="latest__wp">
                <h2 class="latest__h2 animation animation_left">Latest from the blog</h2>
                <div class="latest_slider__left animation animation_left">
                    {% for i in blog_items %}
                    <a href="{% url 'main:blog-item' i.alias %}" class="latest_slider__slide">
                        <div class="latest_slider__image" style="background-image: url({% if i.image_preview %}{{ i.image_preview.url }}{% endif %});"></div>
                        <div class="latest_slider__date">{{ i.datetime }}</div>
                        <div class="latest_slider__title">{{ i.name }}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="latest__nav animation animation_left">
            </div>
        </div>
        <div class="latest__right">
            <div class="latest_slider animation animation_right">
                {% for i in blog_items %}
                {% if forloop.counter > 2 %}
                <a href="{% url 'main:blog-item' i.alias %}" class="latest_slider__slide">
                    <div class="latest_slider__image" style="background-image: url({% if i.image_preview %}{{ i.image_preview.url }}{% endif %});"></div>
                    <div class="latest_slider__date">{{ i.datetime }}</div>
                    <div class="latest_slider__title">{{ i.name }}</div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <a href="{% url 'main:blog' %}" class="our__link animation animation_right">
            <span>Read all</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}