{% extends "_base.html" %}
{% load static %}
{% block content %}
<div class="page__wrp page__wrp-main_page">
    <div class="wrapper wrapper-page__wrp">
        <div class="page__content">
            <h1 class="page__h1 page__h1-main_level animation animation_left">{{ data.name }}</h1>
            <div class="page__text animation animation_left">{{ data.content|safe }}</div>
            <div class="mobile_only" style="margin-bottom: 20px;">
                {% if data.sub_services.all|length or data.service.sub_services.all|length %}
                <div class="page_menu__title">Services</div>
                <div class="page_menu__texts">
                    {% if data.service %}
                    {% for i in data.service.sub_services.all %}
                        <a href="{% url 'main:service_lvl2' data.service.alias i.alias %}" class="page_menu__text">{{ i.name }}</a>
                    {% endfor %}
                    {% else %}
                    {% for i in data.sub_services.all %}
                        <a href="{% url 'main:service_lvl2' data.alias i.alias %}" class="page_menu__text">{{ i.name }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="page_filters animation animation_left">
                <div class="page_filters__text">Services:</div>
                <div class="page_filters__wrp">
                {% for t in data.sub_services.all %}
                <a href="{% url 'main:service_lvl2' data.alias t.alias %}" class="page_filters__button">{{ t.name }}</a>
                {% endfor %}
                </div>
            </div>
            <h2 class="page__h2 animation animation_left">Latest projects</h2>
            <div class="page__els">
                {% for p in portfolio_items %}
                {% include 'inc/el.html' %}
                {% endfor %}
            </div>
            <div class="page__bot animation animation_bot">
                <div class="our__link our__link-page">
                    <span>Show more</span>
                </div>
            </div>
        </div>
        {% include 'inc/page_menu.html' %}
        {#<div class="button button-page animation animation_right open_enquery">request free consultation</div>#}
    </div>
    {% include 'inc/create_project.html' %}
</div>
{% endblock %}