

{% include 'inc/header.html' %}

<div style="height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div class="open_enquery" style="font-size: 20px; cursor: pointer; margin: 10px 0;">Send enquery</div>
  <div class="open_project" style="font-size: 20px; cursor: pointer; margin: 10px 0;">Send project</div>
  <div class="open_conf" style="font-size: 20px; cursor: pointer; margin: 10px 0;">Confirmation</div>
</div>

{% include 'inc/footer.html' %}