{% extends "_base.html" %}
{% load static %}
{% block content %}
<div class="page__wrp">
    <div class="wrapper wrapper-portfolio">
        <div class="portfolio_second__top">
            <h1 class="page__h1 page__h1-second page__h1-portfolio animation animation_left">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
            <div class="our__link open_enquery">
                <span>Free consultation</span>
            </div>
        </div>
        <div class="page_filters animation animation_left">
            <div class="page_filters__text">Sort by:</div>
            <div class="page_filters__wrp">
                {% for t in data.sub_services.all %}
                <a href="{% url 'main:portfolio_service' data.alias %}?tag={{ t.pk }}" class="page_filters__button {% if t.pk in active_tags %}active{% endif %}">{{ t.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="portfolio__wrp">
            {% for p in portfolio_items %}
            {% include 'inc/el.html' %}
            {% endfor %}
        </div>
        <div class="page__bot animation animation_bot">
            <div class="our__link our__link-page">
                <span>Show more</span>
            </div>
        </div>
        <div class="cats">
            <a href="javascript:" class="cats__el animation animation_bot">
                <div class="cats__image" style="background-image: url({% static "img/cats__image-1.png" %});"></div>
                <div class="cats__text">Landscaping</div>
            </a>
            <a href="javascript:" class="cats__el animation animation_bot">
                <div class="cats__image" style="background-image: url({% static "img/cats__image-2.png" %});"></div>
                <div class="cats__text">Maintenance</div>
            </a>
        </div>
    </div>
    {% include 'inc/create_project.html' %}
</div>
{% endblock %}