{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="page__wrp">
    <div class="wrapper wrapper-portfolio">
        <div class="portfolio__top">
            <h1 class="page__h1 page__h1-second page__h1-portfolio animation animation_left">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
            <div class="portfolio__text animation animation_right">REWTS Garden Landscaping has many years experience in creating either new gardens
                or redeveloping your current space. Whether you want us to work on your own design,
                or come up with something specific, we will ensure the outcome is exactly
                what you are looking for.
            </div>
        </div>
        <div class="cats">
            <a href="{% url 'main:portfolio_service' 'tree-surgery' %}" class="cats__el animation animation_bot">
                <div class="cats__image" style="background-image: url({% static 'img/cats__image-1.png' %});"></div>
                <div class="cats__text">Tree surgery</div>
            </a>
            <a href="{% url 'main:portfolio_service' 'garden-landscaping' %}" class="cats__el animation animation_bot">
                <div class="cats__image" style="background-image: url({% static 'img/cats__image-2.png' %});"></div>
                <div class="cats__text">Landscaping</div>
            </a>
            <a href="{% url 'main:portfolio_service' 'garden-maintenance' %}" class="cats__el animation animation_bot">
                <div class="cats__image" style="background-image: url({% static 'img/cats__image-3.png' %});"></div>
                <div class="cats__text">Maintenance</div>
            </a>
        </div>
        <div class="portfolio__wrp">
            {% for p in portfolio_items %}
            {% include 'inc/el.html' %}
            {% endfor %}
        </div>
        <div class="page__bot animation animation_bot">
            <div class="our__link our__link-page">
                <span>Show more</span>
            </div>
        </div>
    </div>
    {% include 'inc/create_project.html' %}
</div>
{% endblock %}