{% extends "_base.html" %}
{% load static %}
{% block content %}
<div class="page__wrp">
    <div class="wrapper wrapper-page__wrp">
        <div class="page__content">
            <h1 class="page__h1 page__h1-second animation animation_left">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
            <div class="page__text page__text-second animation animation_left">{{ data.content|safe }}</div>
            <a href="javascript:" class="our__link our__link-second animation animation_left open_enquery">
            <span>Order service</span>
            </a>
            {% if portfolio_items %}
            <h2 class="page__h2 animation animation_left">Latest projects</h2>
            <div class="page__els">
                {% for p in portfolio_items %}
                {% include 'inc/el.html' %}
                {% endfor %}
            </div>
            <div class="page__bot animation animation_bot">
                <div class="our__link our__link-page">
                    <span>Show more</span>
                </div>
            </div>
            {% endif %}
        </div>
        {% include 'inc/page_menu.html' %}
    </div>
</div>
{% endblock %}