{% extends '_base.html' %}
{% block content %}
<div class="page__wrp page__wrp-testimonials">
    <div class="wrapper wrapper-testimonials">
        <h1 class="page__h1 page__h1-second animation animation_left">{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}{{ data.name }}{% endif %}</h1>
        <div class="testimonials__wrp">
            {% for r in reviews %}
            {% include 'inc/customers__slide.html' %}
            {% endfor %}
        </div>
        <div class="page__bot page__bot-testimonials animation animation_bot">
            <div class="our__link">
                <span>Write my review</span>
            </div>
        </div>
    </div>
    {% include 'inc/main_slider.html' %}
    {% include 'inc/create_project.html' %}
</div>
{% endblock %}