{% load static %}
<section class="create">
  <div class="wrapper wrapper-creat">
    <div class="create__left animation animation_left">
      <div class="create__image"></div>
      <div class="create__bottom">
        <a href="javascript:" class="what__link open_enquery">Request design project</a>
        <div class="create__or">or</div>
        <a href="javascript:" class="what__link open_project">Send us your drawings</a>
      </div>
    </div>
    <div class="create__right animation animation_right">
      <h2 class="create__h2">Create your project</h2>
      <div class="create__block">
        <img class="create__img" src="{% static 'img/creat__img.svg' %}" alt="">
        <div class="create__text">We offer the flexibility for you to create your own design or sketch. We are also happy to take on work from other designers or provide you with a design.</div>
      </div>
    </div>
  </div>
</section>