<div class="customers__el animation animation_bot">
    <div class="customers__wp">
        <div class="customers__lft">
            <div class="customers__name">{{ r.author }}</div>
            <div class="rating">
                <div class="rating__star {% if r.rating > 0 %}active{% endif %}"></div>
                <div class="rating__star {% if r.rating > 1 %}active{% endif %}"></div>
                <div class="rating__star {% if r.rating > 2 %}active{% endif %}"></div>
                <div class="rating__star {% if r.rating > 3 %}active{% endif %}"></div>
                <div class="rating__star {% if r.rating > 4 %}active{% endif %}"></div>
            </div>
        </div>
        <div class="customers__date">{{ r.datetime }}</div>
    </div>
    <div class="customers__text">{{ r.text|safe }}</div>
</div>