{% load static %}
<a href="{% url 'main:portfolio_service_item' p.service.alias p.alias  %}" class="our_main__slide our_main__slide-page our_main__slide-portfolio animation animation_bot">
  <div class="our_main__wrp">
    <div class="our_main__image" style="background-image: url({% if p.image_preview %}{{ p.image_preview.url }}{% endif %});">
      <div class="our_main__hover"></div>
    </div>
  </div>
  <div class="our_main__bottom">
    <div class="our_main__title">{{ p.name }}</div>
    <div class="our_main__text">{{ p.service.name }}</div>
    <div class="our_main__date">
      {{ p.datetime|date:"d S M" }} <br />
      {{ p.datetime|date:"Y" }}
    </div>
  </div>
</a>