{% load static %}
<section class="main_slider animation animation_left">
    <div class="main_slider__button">
        <span>Next</span>
    </div>
    <div class="main_slider__wrp">
        {% for s in services %}
            <a href="{% url 'main:portfolio_service' s.alias %}" class="main_slider__slide {% if forloop.first %}active{% endif %}">
                <div class="main_slider__back paral" style="background-image: url({% if s.image_for_slider %}{{ s.image_for_slider.url }}{% endif %});"></div>
                <div class="main_slider__text">{{ s.name }}</div>
            </a>
        {% endfor %}
    </div>
</section>