{% load static %}
<section class="links">
  <div class="wrapper wrapper-links">
    <h2 class="what__h2 what__h2-links animation animation_bot">Our links</h2>
    <div class="links__slider animation animation_bot">
      <div class="links__slide">
        <img class="links__img" src="{% static 'img/links__img-1.svg' %}" alt="">
      </div>
      <div class="links__slide">
        <img class="links__img" src="{% static 'img/links__img-2.svg' %}" alt="">
      </div>
      <div class="links__slide">
        <img class="links__img" src="{% static 'img/links__img-3.svg' %}" alt="">
      </div>
      <div class="links__slide">
        <img class="links__img" src="{% static 'img/links__img-4.svg' %}" alt="">
      </div>
      <div class="links__slide">
        <img class="links__img" src="{% static 'img/links__img-5.svg' %}" alt="">
      </div>
      <div class="links__slide">
        <img class="links__img" src="{% static 'img/links__img-1.svg' %}" alt="">
      </div>
      <div class="links__slide">
        <img class="links__img" src="{% static 'img/links__img-2.svg' %}" alt="">
      </div>
      <div class="links__slide">
        <img class="links__img" src="{% static 'img/links__img-3.svg' %}" alt="">
      </div>
      <div class="links__slide">
        <img class="links__img" src="{% static 'img/links__img-4.svg' %}" alt="">
      </div>
      <div class="links__slide">
        <img class="links__img" src="{% static 'img/links__img-5.svg' %}" alt="">
      </div>
    </div>
    <div class="links__navs animation animation_bot"></div>
  </div>
</section>