{% load static %}
<section class="our">
    <div class="wrapper wrapper-our">
        <div class="our__wrp">
            <div class="our_main animation animation_left">
                {% for p in portfolio_items %}
                <div class="our_main__slide">
                    <div class="our_main__wrp">
                        <div class="our_main__image" style="background-image: url({{ p.image_preview.url }});">
                            <div class="our_main__hover"></div>
                        </div>
                    </div>
                    <div class="our_main__bottom">
                        <div class="our_main__title">{{ p.name }}</div>
                        <div class="our_main__text">{{ p.service.name }}</div>
                        <div class="our_main__date">
                          {{ p.datetime|date:"d S M" }} <br />
                          {{ p.datetime|date:"Y" }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <h2 class="our__h2 animation animation_bot">Our projects</h2>
            <div class="our__bot">
                <div class="our__navs"></div>
                <div class="our_second__wrp animation animation_right">
                    <div class="our_second">
                        {% for p in portfolio_items %}
                            <div class="our_second__slide" style="background-image: url({{ p.image_preview.url }});"></div>
                        {% endfor %}
                    </div>
                </div>
                <a href="/portfolio/" class="our__link">
                <span>More</span>
                </a>
            </div>
        </div>
    </div>
</section>