{% load static %}
<section class="customers">
    <div class="wrapper wrapper-customers">
        <img class="customers__image animation animation_left" src="{% static 'img/customers__image.png' %}" alt="">
        <div class="customers__wrp animation animation_right">
            <div class="customers__slider">
                {% for r in reviews %}
                <article class="customers__slide">
                    <h3 class="customers__h3">Our customers say</h3>
                    {% include 'inc/customers__slide.html' %}
                </article>
                {% endfor %}
            </div>
            <div class="customers__bot">
                <div class="customers__navs"></div>
                <a href="{% url 'main:testimonials' %}" class="our__link our__link-customers">
                <span>Read all</span>
                </a>
            </div>
        </div>
    </div>
</section>