{% load static %}
<div class="page_menu animation animation_right">
    {% if data.sub_services.all|length or data.service.sub_services.all|length %}
    <div class="page_menu__block">
        <div class="page_menu__title">Services</div>
        <div class="page_menu__texts">
            {% if data.service %}
            {% for i in data.service.sub_services.all %}
                <a href="{% url 'main:service_lvl2' data.service.alias i.alias %}" class="page_menu__text">{{ i.name }}</a>
            {% endfor %}
            {% else %}
            {% for i in data.sub_services.all %}
                <a href="{% url 'main:service_lvl2' data.alias i.alias %}" class="page_menu__text">{{ i.name }}</a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="page_menu__block">
        <div class="page_menu__title">We also do</div>
        <div class="page_menu__texts">
            {% for s in services %}
                {% if data.alias != s.alias %}
                <a href="{% url 'main:service' s.alias %}" class="page_menu__text">{{ s.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="page_menu__article">
        <div class="page_menu__title">Articles on the subject</div>
        <section class="main_slider main_slider-page">
            <div class="main_slider__button">
                <span>Next</span>
            </div>
            <div class="main_slider__wrp">
                {% for b in blog %}
                <div class="main_slider__slide {% if forloop.first %}active{% endif %}">
                    <div class="main_slider__wp">
                        <div class="main_slider__back paral" style="background-image: url({{ b.image_preview.url }});"></div>
                    </div>
                    <div class="page_slider__bot">
                        <div class="page_slider__data">
                            {{ b.datetime|date:"d S M" }} {{ b.datetime|date:"Y" }}
                        </div>
                        <div class="page_slider__desc">{{ b.name }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <a href="{% url 'main:blog' %}" class="our__link">
        <span>Read all</span>
        </a>
    </div>
</div>