{% load static %}
<section class="what">
    <div class="wrapper">
        <h2 class="what__h2 animation animation_bot">What we do</h2>
        <div class="what__wrapper">
            {% for s in services %}
            {% if forloop.counter == 1 %}
            <a href="{% url 'main:service' s.alias %}" class="elem animation animation_bot">
            {% elif forloop.counter == 2 %}
            <a href="{% url 'main:service' s.alias %}" class="elem elem-large animation animation_bot">
            {% elif forloop.counter == 3 %}
            <a href="{% url 'main:service' s.alias %}" class="elem elem-medium animation animation_bot">
            {% elif forloop.counter == 4 %}
            <a href="{% url 'main:service' s.alias %}" class="elem elem-small animation animation_bot">
            {% else %}
            <a href="{% url 'main:service' s.alias %}" class="elem elem-tiny animation animation_bot">
            {% endif %}
                <div class="elem__top" style="background-image: url({% if s.image_preview %}{{ s.image_preview.url }}{% endif %});">
                    <div class="elem__hover"><span>Discover</span></div>
                    <div class="elem__counter">0{{ forloop.counter }}.</div>
                </div>
                <div class="elem__title">{{ s.name }}</div>
            </a>
            {% endfor %}
        </div>
        <a href="javascript:" class="what__link open_enquery">Request Free Consultation</a>
    </div>
</section>